{% extends 'invenio_deposit/edit.html' %}

{% if schema and schema_form %}
  {% set _schema = url_for('invenio_jsonschemas.get_schema', schema_path=schema, _external=True) %}
  {% set _schema_form = url_for('static', filename=schema_form) %}
{% elif record['$schema'] %}
  {% set _schema = record['$schema'] %}
  {% set _schema_form = record['$schema'].replace('/schemas/','/static/json/') %}
{% else %}
  {% set _schema = url_for('static', filename=config.DEPOSIT_DEFAULT_JSONSCHEMA) %}
  {% set _schema_form = url_for('static', filename=config.DEPOSIT_DEFAULT_SCHEMAFORM) %}
{% endif %}

{%- block page_body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="invenio-records">
          <invenio-records
            {% if pid %}
              initialization="{{ config.DEPOSIT_RECORDS_API.format(pid_value=pid.pid_value) }}"
              links='{{pid|tolinksjs(record)|tojson}}'
            {% else %}
              initialization="{{ config.DEPOSIT_SEARCH_API }}"
            {% endif %}
            response-params='{{ config.DEPOSIT_RESPONSE_MESSAGES | tojson }}'
            extra-params='{"headers":{"Content-Type": "application/json"}}'
            form="{{_schema_form}}"
            record='{{ record | tojson }}'
            schema="{{ _schema }}">
            <invenio-records-loading
              template="{{ url_for('static', filename='node_modules/invenio-records-js/dist/templates/loading.html') }}">
            </invenio-records-loading>
            <invenio-records-alert
              template="{{ url_for('static', filename='node_modules/invenio-records-js/dist/templates/alert.html') }}">
            </invenio-records-alert>
            <invenio-records-actions
              template="{{ url_for('static', filename=config.DEPOSIT_UI_JSTEMPLATE_ACTIONS) }}">
            </invenio-records-actions>
            <invenio-records-form
              form-templates='{{ config.DEPOSIT_FORM_TEMPLATES | tojson }}'
              form-templates-base="{{ url_for('static', filename=config.DEPOSIT_FORM_TEMPLATES_BASE) }}"
              template="{{ url_for('static', filename=config.DEPOSIT_UI_JSTEMPLATE_FORM) }}">
            </invenio-records-form>
          </invenio-records>
          <invenio-files-uploader
            method="PUT"
            endpoint="/api/files"
            {% if pid %}
              action="{{ config.DEPOSIT_RECORDS_API|format(pid_value=pid.pid_value) }}"
            {% else %}
              initialization="{{ config.DEPOSIT_SEARCH_API }}"
            {% endif %}
            extra-params='{"headers":{"Content-Type": "application/json"}}'
          >
            <invenio-files-upload-zone
              template="{{ url_for('static', filename='node_modules/invenio-files-js/dist/templates/upload.html') }}">
            </invenio-files-upload-zone>
            <invenio-files-list
              template="{{ url_for('static', filename='node_modules/invenio-files-js/dist/templates/list.html') }}"
            ></invenio-files-list>
        </invenio-files-uploader>
        </div>
      </div>
    </div>
  </div>
{%- endblock %}
