<div  class="cap-box">
    <div class="header">
      <h3 class="modal-title">
        Choose {{$ctrl.type.replace('_', ' ') | ucfirst}} to relate with analysis
      </h3>
    </div>
    <div class="modal-body modal-body-create-new">
      <a class="list-group-item"
         ng-repeat="item in $ctrl.items" 
         ng-if="(item.metadata.$schema.split('/').pop().replace('.json', '')).indexOf($ctrl.type.replace('_', '-')) !== -1"
         ng-click="$event.preventDefault(); $ctrl.selected.item = item">
        <div class="cursor-pointer">
          <h5 class="list-group-item-heading">
            ID: <span class="label label-success type-of-analysis"> {{ item.metadata._deposit.id }}</span>
          </h5>
          <i  ng-show="$ctrl.selected.item.metadata._deposit.id == item.metadata._deposit.id" 
              class="fa fa-check pull-right modal-checkbox-element" 
              aria-hidden="true">  
          </i>
        </div>
        <div class="clearfix"></div>
      </a>
    </div>
    <div class="modal-footer">
        <button ng-disabled="!$ctrl.selected" class="btn action-btn add-btn" type="button" ng-click="$ctrl.ok()">Add</button>
    </div>
</div>