<div class="container cap-container">
  <div class="row">
    <div class="col-md-12">
      <div
        id="invenio-records">
        <invenio-files-uploader
          method="PUT"
          endpoint="/api/records"
          action="{{record.meta_info.files.action}}"
          files="{{record.meta_info.files.files}}"
          links="{{record.links}}"
          extra-params="{{record.meta_info.files.extra_params}}"
        >
          <invenio-files-list
            template="/api/static/templates/cap_files_js/list.html"
          ></invenio-files-list>
        </invenio-files-uploader>
      </div>
    </div>
  </div>
</div>