.rc-md-navigation {
  padding: 0 22px;
  border: 1px solid #e0e0e0;
}

.richeditor-theme-grommet
  .rc-md-editor
  .editor-container
  > .section
  > .section-container {
  padding: 5px 22px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  border-top: 0;
  border-radius: 0;
}
