<div sf-array="form" class="schema-form-array {{form.htmlClass}}" ng-model="$$value$$" ng-model-options="form.ngModelOptions">
    <div class="panel panel-default cap-panel">
      <div class="panel-heading">
            <span class="forms-font-color forms-filter-fields-font-size"><strong>{{ form.title | uppercase }}</strong></span>
            <button ng-hide="form.readonly || form.add === null"
                ng-click="appendToArray()"
                ng-disabled="form.schema.maxItems <= modelArray.length"
                type="button"
                class="btn {{ form.style.add || 'add-btn' }} action-btn pull-right">
              {{ form.add || 'Add New'}}
            </button>
            <div class="help-block" ng-if="form.description"
                 ng-bind-html="form.description"></div>
        </div>
        <div class="panel-body" ng-hide="collapsed">
          <ol class="list-group" ng-model="modelArray" ui-sortable="form.sortOptions">
              <li class="list-group-item {{ form.fieldHtmlClass }}"
                  ng-class="{'deposit-inline': form.inline}"
                  ng-repeat="item in modelArray track by $index">
                  <div class="close-container" ng-class="{'clear-form': !form.inline}">
                      <button ng-hide="form.readonly || form.remove === null"
                              ng-click="deleteFromArray($index)"
                              ng-disabled="form.schema.minItems >= modelArray.length"
                              style="position: relative; z-index: 20;"
                              type="button" class="close pull-right">
                          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                  </div>
                  <sf-decorator ng-init="arrayIndex = $index" form="copyWithIndex($index)"></sf-decorator>
              </li>
          </ol>
        </div>
    </div>

    <div class="clearfix" style="padding: 15px;" ng-model="modelArray">
        <div class="help-block"
             ng-show="(hasError() && errorMessage(schemaError()))"
             ng-bind-html="(hasError() && errorMessage(schemaError()))"></div>
    </div>
</div>