<div
  sf-array="form"
  ng-init="_id = form.key.join('_');accordionArray[_id]={}"
  id="{{ _id }}"
  class="schema-form-array {{form.htmlClass}}"
  ng-model="$$value$$"
  ng-model-options="form.ngModelOptions"
  ng-class="{ 'top-child': form.key.length == 1}"
  ng-hide="form.collapsed">
    <div class="panel deposit-panel panel-default cap-panel">
      <div class="panel-heading">
            <div class="title">
              <span>
                <strong>{{ form.title | uppercase }}</strong> ( {{modelArray.length}} Items) <i ng-if="form.description" class="fa fa-minus"></i>
              </span>
            </div>
            <button ng-hide="form.readonly || form.add === null"
                ng-click="appendToArray()"
                ng-disabled="form.schema.maxItems <= modelArray.length"
                type="button"
                class="btn {{ form.style.add || 'add-btn' }} action-btn pull-right">
              <i class="fa fa-plus" aria-hidden="true"></i>
              {{ form.add || 'Add New'}}
            </button>
            <div class="description" ng-if="form.description"
                 ng-bind-html="form.description"></div>
        </div>
        <div class="panel-body tabs-container" ng-hide="collapsed">
          <uib-tabset type="pills">
            <uib-tab index="0">
              <uib-tab-heading>
                <i class="fa fa-long-arrow-left"> back to form</i>
              </uib-tab-heading>
              <!-- <div class="deposit-array-info">{{modelArray.length}} Items</div> -->
              <ol uib-accordion class="list-group" ng-model="modelArray" ui-sortable="form.sortOptions">
                  <li uib-accordion-group
                      class="list-group-item {{ form.fieldHtmlClass }}"
                      ng-class="{'deposit-inline': form.inline}"
                      ng-init="accordionArray[_id][$index] = true"
                      ng-repeat="item in modelArray track by $index"
                      is-open="accordionArray[_id][$index]">
                      <div uib-accordion-heading>
                        <div class="list-group-item-index">
                          {{form.title}} #{{$index}}  <i class="fa" ng-class="{'fa-angle-down' : accordionArray[_id][$index], 'fa-angle-right' : !accordionArray[_id][$index]}"></i>
                          <div class="actions">
                            <div class="close-container" ng-class="{'clear-form': !form.inline}">
                                <button ng-hide="form.readonly || form.remove === null"
                                        ng-click="deleteFromArray($index)"
                                        ng-disabled="form.schema.minItems >= modelArray.length"
                                        style="position: relative; z-index: 20;"
                                        type="button" class="close">
                                    <span aria-hidden="true"><i class="fa fa-trash"></i></span><span class="sr-only">Close</span>
                                </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <sf-decorator ng-init="arrayIndex = $index" form="copyWithIndex($index)"></sf-decorator>
                  </li>
              </ol>
              </uib-tab>
              <uib-tab index="1">
                <uib-tab-heading>
                  <i class="fa fa-code"> JSON</i>
                </uib-tab-heading>
                <div ng-jsoneditor ng-model="$$value$$" options="{mode: 'code'}" style="width:100%;height:100%;"></div>
              </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <div class="clearfix" style="padding: 15px;" ng-model="modelArray">
        <div class="help-block"
             ng-show="(hasError() && errorMessage(schemaError()))"
             ng-bind-html="(hasError() && errorMessage(schemaError()))"></div>
    </div>
</div>