<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-12">
          <span class="text-muted" style="margin-left: 1%;">{{ model['_files'].length }} files </span>
        </div>
      </div>
    </div>
    <table class="table">
      <tr>
        <th>Filename</th>
        <th>Size</th>
      </tr>
      <tr class="sel-file" ng-repeat="f in model['_files']">
        <td>{{ f.key | limitTo:40 }} <span ng-show="f.key.length > 50">...</span></td>
        <td>{{ f.size | bytesToHumanReadable }}</td>
      </tr>
    </table>
    <div class="panel-footer">
    </div>
  </div>
</div>