<div class="form-group {{form.htmlClass}} schema-form-select"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false}"
     ng-controller="capDynamicSelectCtrl as $ctrl">
     <div class="col-sm-3 cap-label">
       <label class="control-label {{ form.labelHtmlClass }}"
              ng-class="{'sr-only': !showTitle(), 'field-required': form.required}"
              for="{{form.key.slice(-1)[0]}}">
           <span ng-if="!form.notitle">{{form.title}}</span>
       </label>
       <div ng-if="form.description" ><i class="fa fa-minus"></i><div class="help-block" show-more><div sf-message="form.description"></div></div></div >
     </div>
    {{ tm = $ctrl._model | map: $ctrl.getTitleMapItem ;""}}
    <div
      class="col-sm-9"
      ng-init="$ctrl.initDynamicSelect(model, form.pathToArray, form.keyToObserve);">
      <select
        ng-model="$$value$$"
        ng-model-options="form.ngModelOptions"
        ng-disabled="form.readonly"
        sf-changed="form"
        class="form-control {{ form.fieldHtmlClass }}"
        schema-validate="form"
        ng-options="item.value as item.name group by item.group for item in tm"
        name="{{ form.key.slice(-1)[0] }}">
      </select>
        <div class="help-block" sf-message="form.description"></div>
    </div>
</div>