<fieldset
  ng-hide="form.collapsed"
  ng-init="_id = form.key.join('_');"
  ng-disabled="form.readonly"
  class="schema-form-fieldset {{ form.htmlClass }}"
  ng-class="{ 'top-child': form.key.length == 1}"
  id="{{ _id }}">
      <div class="panel deposit-panel panel-default cap-panel">
          <div class="panel-heading">
              <div class="title">
                <span>
                  <strong>{{ form.title }}</strong>
                </span>
                <i ng-if="form.description" class="fa fa-minus"></i>
              </div>
              <div
                class="description"
                ng-if="form.description"
                ng-bind-html="form.description">
              </div>
          </div>
          <div class="panel-body tabs-container" style="padding: 0;height: 500px;">
            <div ng-jsoneditor ng-model="$$value$$" options="{mode: 'code'}" style="width:100%;height:100%;"></div>
          </div>
      </div>
</fieldset>