<div
  id="{{ form.key.slice(-1)[0] }}"
  class="clearfix form-group {{form.htmlClass}}"
  ng-controller="capTagsInputCtrl">

  <div class="col-sm-3 cap-label">
    <label
      class="control-label {{ form.labelHtmlClass }}"
      ng-class="{'sr-only': !showTitle(), 'field-required': form.required}"
      for="{{form.key.slice(-1)[0]}}">
      <span ng-if="!form.notitle">{{form.title}}</span>
    </label>
    <div ng-if="form.description" ><i class="fa fa-minus"></i><div class="help-block" show-more><div sf-message="form.description"></div></div></div >
  </div>
  <div class="col-sm-9">
    <tags-input use-strings="true" min-length="5" replace-spaces-with-dashes="false" placeholder="Add {{form.title}}" ng-model="$$value$$">
       <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
  </div>
</div>