<div class="upload-type" align="center">
    <div class="form-group schema-form-radios-inline {{ form.htmlClass }}"
         ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess()}">
        <label ng-model="$$value$$" ng-model-options="form.ngModelOptions" schema-validate="form"
               class="control-label {{ form.labelHtmlClass }}" ng-class="{'field-required': form.required}" ng-show="showTitle()">{{ form.title }}</label>
        <ul class="list-inline">
            <li class="col-sm-2" ng-repeat="item in form.titleMap">
                <label>
                    <i class="fa {{ item.fa_cls }} fa-2x fa-fw"></i>
                    <br/>
                    <span ng-bind-html="item.name">
                    </span>
                    <br/>
                    <input type="radio"
                           class="{{ form.fieldHtmlClass }}"
                           sf-changed="form"
                           ng-disabled="form.readonly"
                           ng-model="$$value$$" ng-value="item.value"
                           name="{{ form.key.join('.') }}"></li>
            </label>
        </ul>
        <div class="help-block" sf-message="form.description"></div>
    </div>
</div>