[run]
source = cap
omit = cap/wsgi.py
       cap/cli.py
       cap/celery.py
       cap/factory.py
       cap/config*
       cap/modules/access/__init__.py
       cap/modules/access/ext.py
       cap/modules/access/views.py
       cap/modules/experiments/__init__.py
       cap/modules/experiments/bundles.py
       cap/modules/fixtures/ext.py

