[run]
source = cap
omit = 
       *__init__.py
       *ext.py
       *bundles.py
       *errors.py
       *permissions*
       *cli.py
       cap/wsgi.py
       cap/celery.py
       cap/factory.py
       cap/config.py
       cap/version.py
       cap/modules/cache/proxies.py
       cap/modules/records/serializers/schemas/json.py
       cap/modules/search_ui/views.py
       ui/*
