[flake8]
max-line-length = 88

# decent quote styles
inline-quotes = single
multiline-quotes = single
docstring-quotes = double
avoid-escape = true

extend-exclude =
    build
    dist
    docs
    ext_modules
    cap.egg-info
    node_modules
    ui/
    *.conf
    .*/
    env/
    .git
    __pycache__
    cap/modules/services/test_responses/*.py
    cap/alembic/*.py
    tests/

ignore =
    # allow omitting whitespace around arithmetic operators
    E226
    # don't require specific wrapping before/after binary operators
    W503
    W504
    # allow assigning lambdas (it's useful for single-line functions defined inside other functions)
    E731
    # allow regexp and to ignore invalid escape sequence warning
    W605
