# -*- coding: utf-8 -*-
#
# Copyright (C) 2021 CERN.
#
# CERN Analysis Preservation is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

version: "2.3"
services:
  nginx:
    restart: "always"
    image: gitlab-registry.cern.ch/analysispreservation/nginx-ui:ant-e2e
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web-api
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
      - ./docker/nginx/ssl:/etc/ssl
  cypress:
    image: "cypress/included:6.3.0"
    # entrypoint: cypress run --headless --browser chrome
    entrypoint: []
    command: echo "Cypress initiated"
    environment:
      - CYPRESS_BASE_URL=https://nginx
      - CYPRESS_baseUrl=https://nginx
    working_dir: /app/cap-react
    volumes:
      - ./ui/cap-react/cypress:/app/cap-react/cypress
      - ./ui/cap-react/cypress.config.js:/app/cap-react/cypress.config.js
    links:
      - web-api
      - nginx
    depends_on:
      - web-api
      - nginx
    stdin_open: true
    tty: true
  # API Rest Application
  web-api:
    extends:
      file: docker-services.yml
      service: app
    command: uwsgi /opt/cap/var/instance/uwsgi_rest.ini --py-autoreload=1 --http-timeout=3800 --socket-timeout=3800 --honour-stdin
    ports:
      - "5000"
    volumes:
      - static_data:/opt/cap/var/instance/static
      - uploaded_data:/opt/cap/var/instance/data
      - media_data:/opt/cap/var/data
      - ./cap:/opt/cap/src/cap
      - ./demo:/opt/cap/demo
      - test_data:/test_data
    environment:
      - "FLASK_DEBUG=True"
      - "DEBUG_MODE=True"
      - "DEV_HOST=nginx"
    links:
      - cache
      - es
      - mq
      - db
    stdin_open: true
    tty: true
  # API Files Application
  cap-client:
    # build:
    #   context: https://github.com/cernanalysispreservation/cap-client.git
    #   dockerfile: Dockerfile
    image: gitlab-registry.cern.ch/analysispreservation/cap-client:latest
    environment:
      - "CAP_SERVER_URL=https://nginx"
    links:
      - nginx
    volumes:
      - test_data:/test_data
  files-api:
    extends:
      file: docker-services.yml
      service: app
    command: uwsgi /opt/cap/var/instance/uwsgi_rest.ini --py-autoreload=1 --http-timeout=3800 --socket-timeout=3800 --honour-stdin
    ports:
      - "5000"
    environment:
      - "DEV_HOST=nginx"
    volumes:
      - static_data:/opt/cap/var/instance/static
      - uploaded_data:/opt/cap/var/instance/data
      - ./cap:/opt/cap/src/cap
    links:
      - cache
      - es
      - mq
      - db
    stdin_open: true
    tty: true
  # Worker
  worker:
    extends:
      file: docker-services.yml
      service: app
    restart: "always"
    command: "celery worker -A cap.celery --loglevel=INFO"
    links:
      - cache
      - es
      - mq
      - db
  # Base services
  cache:
    extends:
      file: docker-services.yml
      service: cache
  db:
    extends:
      file: docker-services.yml
      service: db
  mq:
    extends:
      file: docker-services.yml
      service: mq
  es:
    extends:
      file: docker-services.yml
      service: es
volumes:
  static_data:
  uploaded_data:
  media_data:
  test_data:
