# -*- coding: utf-8 -*-
#
# This file is part of CERN Analysis Preservation Framework.
# Copyright (C) 2016, 2017 CERN.
#
# CERN Analysis Preservation Framework is free software; you can redistribute
# it and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# CERN Analysis Preservation Framework is distributed in the hope that it will
# be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with CERN Analysis Preservation Framework; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, CERN does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.

nginx:
  build: ./docker/nginx/
  restart: "always"
  ports:
    - "80:80"
    - "443:443"
  links:
    - web
  volumes_from:
    - static

web:
  build: .
  command: gunicorn -b :5000 cap.wsgi:application
  environment:
    - APP_ACCOUNTS_SESSION_REDIS_URL=redis://redis:6379/1
    - APP_CACHE_REDIS_URL=redis://redis:6379/0
    - APP_CACHE_TYPE=redis
    - APP_SEARCH_ELASTIC_HOSTS=['elasticsearch']
    - APP_SQLALCHEMY_DATABASE_URI=postgresql://cap:cap@postgresql/cap
    # - APP_CERN_APP_CREDENTIALS_KEY=REPLACEME
    # - APP_CERN_APP_CREDENTIALS_SECRET=REPLACEME
    - APP_WSGI_PROXIES=1
  links:
    - elasticsearch
    - redis
    - postgresql

redis:
  image: redis
  ports:
    - "26379:6379"

postgresql:
  image: postgres
  environment:
    - POSTGRES_USER=cap
    - POSTGRES_PASSWORD=cap
  ports:
    - "25432:5432"

elasticsearch:
  build: .
  dockerfile: ./docker/elasticsearch/Dockerfile
  ports:
    - "29200:9200"
    - "29300:9300"

static:
  restart: "no"
  build: .
  command: /bin/true
  volumes:
    - "/usr/local/var/cap-instance/static"
    - ".:/code"
