# -*- coding: utf-8 -*-
#
# Copyright (C) 2018 CERN.
#
# CERN Analysis Preservation is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

version: "2.3"
services:
  nginx:
    restart: "always"
    build:
      context: ./docker/nginxdev
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - web-api
  # Frontend
  frontend:
    build:
      context: ./ui
    ports:
      - "3000:3000"
    volumes:
      - ./ui/cap-react/src:/app/cap-react/src
      - ./ui/cap-react/tools:/app/cap-react/tools
    links:
      - web-api
  # API Rest Application
  web-api:
    extends:
      file: docker-services.yml
      service: app
    command: uwsgi /opt/cap/var/instance/uwsgi_rest.ini --py-autoreload=1 --http-timeout=3800 --socket-timeout=3800 --honour-stdin
    image: cap-web-api
    ports:
      - "5000"
    volumes:
      - static_data:/opt/cap/var/instance/static
      - uploaded_data:/opt/cap/var/instance/data
      - media_data:/opt/cap/var/data
      - ./cap:/opt/cap/src/cap
      - ./demo:/opt/cap/demo
    environment:
      - "FLASK_DEBUG=True"
      - "DEBUG_MODE=True"
      - "DEV_HOST=nginx"
    links:
      - cache
      - es
      - mq
      - db
    stdin_open: true
    tty: true
  # API Files Application
  files-api:
    extends:
      file: docker-services.yml
      service: app
    command: uwsgi /opt/cap/var/instance/uwsgi_rest.ini --py-autoreload=1 --http-timeout=3800 --socket-timeout=3800 --honour-stdin
    image: cap-files-api
    ports:
      - "5000"
    volumes:
      - static_data:/opt/cap/var/instance/static
      - uploaded_data:/opt/cap/var/instance/data
      - ./cap:/opt/cap/src/cap
    links:
      - cache
      - es
      - mq
      - db
    stdin_open: true
    tty: true
  # Worker
  worker:
    extends:
      file: docker-services.yml
      service: app
    restart: "always"
    command: "celery worker -A cap.celery --loglevel=INFO"
    image: cap-worker
    links:
      - cache
      - es
      - mq
      - db
  # Monitoring
  flower:
    extends:
      file: docker-services.yml
      service: flower
    links:
      - mq
  # Base services
  cache:
    extends:
      file: docker-services.yml
      service: cache
  db:
    extends:
      file: docker-services.yml
      service: db
  mq:
    extends:
      file: docker-services.yml
      service: mq
  es:
    extends:
      file: docker-services.yml
      service: es
  statping:
    extends:
      file: docker-services.yml
      service: statping
volumes:
  static_data:
  uploaded_data:
  media_data:
