include requirements*.txt *.rst COPYING setup.cfg

recursive-include docs *
recursive-exclude docs/_build *

recursive-include invenio_data/base/static *
recursive-include invenio_data/base/templates *
recursive-include invenio_data/base/format_elements *
recursive-include invenio_data/base/format_templates *
recursive-include invenio_data/base/output_formats *
recursive-include invenio_data/base/bulletinext/* *
recursive-include invenio_data/base/converterext/* *
recursive-include invenio_data/base/documentext/* *
recursive-include invenio_data/base/editorext/* *
recursive-include invenio_data/base/exportext/* *
recursive-include invenio_data/base/rankext/* *
recursive-include invenio_data/base/recordext/* *

recursive-include invenio_data/modules/*/static *
recursive-include invenio_data/modules/*/templates *
recursive-include invenio_data/modules/*/testsuite *
recursive-include invenio_data/modules/*/recordext/* *
recursive-include invenio_data/modules/*/converterext *
recursive-include invenio_data/modules/*/documentext *
recursive-include invenio_data/modules/*/editorext *
recursive-include invenio_data/modules/*/exportext *
recursive-include invenio_data/modules/*/format_elements *
recursive-include invenio_data/modules/*/format_templates *
recursive-include invenio_data/modules/*/output_formats *
recursive-include invenio_data/modules/*/rankext *

recursive-exclude * *.pyc *.pyo
