include requirements*.txt *.rst COPYING setup.cfg

recursive-include docs *
recursive-exclude docs/_build *

recursive-include invenio_demosite/base/static *
recursive-include invenio_demosite/base/templates *
recursive-include invenio_demosite/base/format_elements *
recursive-include invenio_demosite/base/format_templates *
recursive-include invenio_demosite/base/output_formats *
recursive-include invenio_demosite/base/bulletinext/* *
recursive-include invenio_demosite/base/converterext/* *
recursive-include invenio_demosite/base/documentext/* *
recursive-include invenio_demosite/base/editorext/* *
recursive-include invenio_demosite/base/exportext/* *
recursive-include invenio_demosite/base/rankext/* *
recursive-include invenio_demosite/base/recordext/* *

recursive-include invenio_demosite/modules/*/static *
recursive-include invenio_demosite/modules/*/templates *
recursive-include invenio_demosite/modules/*/testsuite *
recursive-include invenio_demosite/modules/*/recordext/* *
recursive-include invenio_demosite/modules/*/converterext *
recursive-include invenio_demosite/modules/*/documentext *
recursive-include invenio_demosite/modules/*/editorext *
recursive-include invenio_demosite/modules/*/exportext *
recursive-include invenio_demosite/modules/*/format_elements *
recursive-include invenio_demosite/modules/*/format_templates *
recursive-include invenio_demosite/modules/*/output_formats *
recursive-include invenio_demosite/modules/*/rankext *

recursive-exclude * *.pyc *.pyo