invenio-access==1.0.0b1
invenio-accounts==1.0.0b12
invenio-admin==1.0.0b4
invenio-assets==1.0.0b7
invenio-base==1.0.0b1
invenio-celery==1.0.0b3
invenio-collections==1.0.0a4
invenio-config==1.0.0b3
invenio-db==1.0.0b9
invenio-deposit==1.0.0a9
invenio-files-rest==1.0.0a22
invenio-i18n==1.0.0b4
invenio-indexer==1.0.0b1
invenio-jsonschemas==1.0.0a7
invenio-mail==1.0.0b1
invenio-oauth2server==1.0.0b3
invenio-oauthclient==1.0.0b3
invenio-pages==1.0.0a4
invenio-pidstore==1.0.0b2
invenio-query-parser==0.6.0
invenio-records==1.0.0b4
invenio-records-files==1.0.0a10
invenio-records-rest==1.0.0b5
invenio-records-ui==1.0.0b2
invenio-rest==1.0.0b2
invenio-search==1.0.0b4
invenio-search-ui==1.0.0a9
invenio-theme==1.0.0b4
invenio-userprofiles==1.0.0b2