git+git://github.com/annatrz/invenio-deposit.git#egg=invenio-deposit
git+git://github.com/reanahub/reana-client.git@master#egg=reana-client
git+git://github.com/reanahub/reana-commons.git@master#egg=reana-commons
