-e git+git://github.com/annatrz/invenio-deposit.git#egg=invenio-deposit
# -e git+git://github.com/reanahub/reana-client.git@master#egg=reana-client
# -e git+git://github.com/reanahub/reana-commons.git@master#egg=reana-commons
reana-client==0.6.0
reana-commons==0.6.0
-e git+git://github.com/cernanalysispreservation/invenio-oauthclient.git@master#egg=invenio-oauthclient
-e git+git://github.com/cernanalysispreservation/invenio-jsonschemas.git@master#egg=invenio-jsonschemas
-e git+git://github.com/cernanalysispreservation/invenio-search.git@master#egg=invenio-search
-e git+git://github.com/cernanalysispreservation/invenio-userprofiles.git#egg=invenio-userprofiles
-e git+git://github.com/Lilykos/flask-celeryext.git@master#egg=flask-celeryext
# Install invenio-records from last commit before 1.1.0 version release
-e git+git://github.com/inveniosoftware/invenio-records.git@a5d4efb1e1466aa571aeef013d699dca1452f7cd#egg=invenio-records
# -e  git+git://github.com/michamos/celery@fix-redis-connection-result-consumer#egg=celery
