.main-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  transform: translateX(0);
}

.main-menu-out {
  animation: slide-main-out 0.5s forwards;
}

@keyframes slide-main-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-105%);
    opacity: 0;
  }
}
.main-menu-in {
  animation: slide-main-in 0.5s forwards;
}

@keyframes slide-main-in {
  0% {
    transform: translateX(-105%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.embeded-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(105%);
  opacity: 0;
}

.embeded-menu-out {
  animation: slide-embeded-out 0.5s forwards;
}

.embeded-menu-in {
  animation: slide-embeded-in 0.5s forwards;
}
@keyframes slide-embeded-in {
  0% {
    transform: translateX(105%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-embeded-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(105%);
    opacity: 0;
  }
}
