$input_height: 30px;
$input_radius: 3px;

.alpaca-label {
  width: 25%;
}

.alpaca-invalid {

  .alpaca-field.alpaca-invalid,
  .alpaca-container.alpaca-invalid{

    > label,
    > input,
    > .alpaca-message {
      color: rgba(205, 92, 92, 1);
    }
  // background-color: rgba(205, 92, 92, 0.35);
  // padding: 10px;
  }
  .alpaca-message {
    width:75%;
    float: right;
  }
}

.alpaca-field-valid {
  color: #8A949E;
}

.alpaca-array-toolbar-action {
    background-color: #169776;
    color: #f5f5f5;
    padding: 5px 20px;
    font-size: 12px;
    border: 0;
    margin: 5px;
}

.oneOf-container {

  > .oneOf-container-inner {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;

    .oneOf-container {
      > .oneOf-container-inner {}
    }
  }

  .alpaca-container-label + .oneOf-container-inner {
    width: 75%;
  }
  .alpaca-container-label {
    width: 25%;
    float: left;
    text-align: right;
    padding-right: 5px;
    font-weight: 700;
  }

  .oneOf-select-container {
    width: auto;
    padding: 10px;
    margin: -10px;
    margin-bottom: 10px;
    background-color: #ccc;

    select {
      width: 100%;
    }
  }
}

.alpaca-field-depositgroup > .alpaca-container,
.alpaca-field-depositgroup-array > .alpaca-container {
  div.alpaca-container:not(.depositgroup-object) {
    width: 75%;

    .newarray {
      .alpaca-control {
        width: 75%;
      }
      label+ .alpaca-control {
        width: 75%;
      }
    }
  }

  .depositgroup-object {
    .newarray {
      background-color: #e4e4e4;
      border-radius: 2px;
      color: #5C6269;
    }
  }
  .newarray {
    width: 100%;

    .alpaca-container:not(.depositgroup-object) {
      width: 100%;
    }
    > .alpaca-field > .alpaca-control {
      width: 100%;
    }
  }

  .alpaca-container-label + .alpaca-array-toolbar + .newarray,
  .alpaca-container-label + .alpaca-array-toolbar + .newarray ~ .newarray,
  .alpaca-container-label + .droplist-container + .newarray,
  .alpaca-container-label + .droplist-container + .newarray ~ .newarray,
  .alpaca-container-label + .alpaca-array-toolbar + .droplist-container + .newarray,
  .alpaca-container-label + .alpaca-array-toolbar + .droplist-container + .newarray ~ .newarray{
    width: 75%;
  }
}

.alpaca-field-depositgroup-array > .alpaca-container.depositgroup-array {
  > .newarray {
    width: 100%;
  }

  .depositgroup-object-fields {
    background-color: #fff;
  }
}

.modal-body > .alpaca-container-item {
  width: 100%!important;
}

.alpaca-field > .twitter-typeahead {
  display: inline-block!important;
  width: 75%;

  .alpaca-control {
    width: 100%;
  }

  .twitter-typeahead .tt-query,
  .twitter-typeahead .tt-hint {
    margin-bottom: 0;
  }
  .tt-hint {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  .tt-dropdown-menu {
    min-width: 160px;
    width:100%;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

  }
  .tt-suggestion {
    display: block;
    padding: 3px 20px;
  }
  .tt-cursor {
    color: #fff;
    background-color: #428bca;
  }
  .tt-suggestion p {
    margin: 0;
  }
  .tt-highlight {
    background-color: #f5f5f5;
  }
}


.alpaca-field-object-autocomplete-import {
  float: left;
}

.autocomplete-import {
  position: relative;
  border-radius: $input_radius;
  border:  1px solid #ccc;
  padding: 10px;
  float: left;
  display: inline-block;


  .autocomplete-import-container {
    width: 80%;
    display: inline-block;
    position: relative;
    float: left;
    background-color: #fff;
    border-radius: $input_radius;

    $autocomplete-btn-gap: 2px;
    .autocomplete-import-btns {

      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      height: $input_height;

      button {
        height: $input_height - 2*$autocomplete-btn-gap;
        width: $input_height - 2*$autocomplete-btn-gap;
        margin: $autocomplete-btn-gap;
        padding: 0;
      }
    }

    > span.twitter-typeahead {
      height: $input_height;
      border-radius: $input_radius;
      display: inline-block;
      width: 100%;
      padding-right: 2*$input_height + 2*$autocomplete-btn-gap;
      float: left
    }

    input {
      border: 0;
      height: $input_height;
      border-top-left-radius: $input_radius;
      border-bottom-left-radius: $input_radius;
    }
  }

  .inner-input-field-btns {
    // position: absolute;
    // right: 0;
    // top: 0;
    // z-index: 1000;
    display: inline-block;
    width: 20%;
    float: left;

    .alpaca-array-actionbar {
      position: relative;
      display: inline-block!important;

      button:first-child {
        border-top-left-radius: $input_radius;
        border-bottom-left-radius: $input_radius;
      }

      button:last-child {
        border-top-right-radius: $input_radius;
        border-bottom-right-radius: $input_radius;
      }

      button {
        border: 0;
        margin: 0;
        float: left;
        height: $input_height;
        width: $input_height;
        padding: 0;
      }
    }

    button {
      border: 0;
      margin: 0;
      float: left;
      height: $input_height;
      width: $input_height;
      padding: 0;
    }
  }

  .modal-dialog {
    .modal-body {
      display: inline-block;
    }
    input {
      border: 1px solid #ccc;
    }
  }
}

.depositgroup-object {
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    padding: 10px 0;

    > .newarray {
      background-color: #f5f5f5;
      margin-bottom: 10px;
    }

    .alpaca-container-label {
      width: 25%;
      float: left;
      text-align: right;
      font-weight: bold;
      padding-right: 5px;
    }

    .alpaca-container-item {
      width: 100%;
      display: inline-block;
      float: right;
    }
    .alpaca-field {
      width: 100%;
      display: inline-block;

      .alpaca-container-item {
        // width: 100%;
      }
    }


    .autocomplete-input-field {
      width: 100%;
    }
}

.depositgroup-array {
  > .newarray {
    border: 10px solid #fff;
    background-color: #f5f5f5;

    .depositgroup-object > .newarray {
      background-color: #D8D8D8;
    }
  }


}

.newarray {
  .alpaca-array-actionbar {
    float: right;

    button {
      border: 0px none;
      padding: 0px;
      width: $input_height - 5;
      height: $input_height - 5;
      background-color: rgb(255, 255, 255);
      float: left;
    }
  }

  .alpaca-field-object {
    padding: 10px;
  }

  > .alpaca-field-text,
  > .alpaca-field-textarea {
    padding: 10px;
  }
}

.alpaca-field {
  width: 100%;
  display: inline-block;

  input {
    height: $input_height;
  }
  .alpaca-container-item {
  }
}


.alpaca-control-label {
  width: 25%;
  text-align: right;
  float: left;
  padding-right: 5px;
}
.alpaca-field-select2 {
  .select2-container,
  select.alpaca-control {
    border: 0;
  }

  span.select2 {
    width: 75%!important;
  }
}

textarea.alpaca-control {
  max-width: 100% ;
  height: auto;
}

.alpaca-control {
  width: 75%;
  height: $input_height;
  border: 1px solid #ccc;
  border-radius: $input_radius;
  float: left;

  .select2-choice {
    height: $input_height;
  }
}

.radio {
  float: right;
}

.alpaca-field-depositgroup-object-quickfill {
  > .depositgroup-object {
    .newarray {
      .alpaca-array-actionbar,
      > .alpaca-field > label {
        display: none;
      }
    }
  }
}
.droplist-container {
  width: 75%;
  float: left;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px dashed #ccc;

  .bootstrap-tagsinput {
    // overflow-x: scroll;
    padding: 5px;

    .tt-dropdown-menu {
      // overflow: visible;
      z-index: 100000;
      background-color: #f5f5f5;

    }

    .tt-input {
      border: none;
      margin: 5px 0;
      width: 100%;
    }

    .label {
      margin-bottom: 4px;
      display: inline-block!important;
      width: 100%;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      font-size: inherit;
    }
  }
}

.droplist {
  border: 2px dashed #ccc;
  border-bottom: 0;
  border-radius: 4px;
  color: #A5A5A5;
  padding: 5px;
  width: 100%;
  height: 50px;
  max-width: 100%;
  min-width: 100%;
}
.droplist-btn {
  width: 100%;
  margin-top: -2px;
  border: 2px dashed #ccc;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ccc;
  color: #f5f5f5;
}

.depositgroup-desc {
  margin-bottom: 10px;
}

.alpaca-field-mlt-choice-radio,
.alpaca-field-mlt-choice-cb {
  .mlt-question {
    display: inline-block;
    height: auto;
    font-weight: bold;
  }
  label {
    font-weight: normal;
  }

  .alpaca-control {
    float: right;
    border: 0;
    height: auto;
  }
  input {
    height: auto;
    vertical-align: middle;
  }
}

.depositgroup-object-fields {
  width: 75%;
  float: left;
  display: inline-block;
  padding: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;

  :parent(.depositgroup-array) {
    background-color: #fff;
  }

  .alpaca-container-item {
    width: 100%;
  }
}

.alpaca-field-depositgroup-object {
  .depositgroup-object {
    padding: 0;
  }
}

.depositgroup-object {
  .depositgroup-object-fields {
    .alpaca-field-mlt-choice-radio,
    .alpaca-field-mlt-choice-cb {
      .alpaca-control {
        width: 100%;
      }
    }
  }
}


#jsondeposit-json-rendered {
  .alpaca-field-depositgroup,
  .alpaca-field-depositgroup-array {
    .alpaca-field-depositgroup-object,
    .alpaca-field-depositgroup-object-array {
      .alpaca-field-depositgroup-object,
      .alpaca-field-depositgroup-object-array {
        width: 100%;

        .newarray {
          background-color: #ccc;
          border-radius: 3px;
          width: 75%;

          .alpaca-field {
            padding: 10px;
            float: left;
          }

          input {
            width: 100%;
          }
          .alpaca-container-label + input {
            width: 75%;
          }
        }
      }
    }
  }
}

.array-item-header {
  background-color: #ccc;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 5px;
  height: $input_height +5;
}

.alpaca-field-url-harvest {
  .url-harvest-container {
    position: relative;
    height: 2*$input_height +5;
    background-color: #ccc;

    input {
      width: 100%;
    }

    > .btn {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      height: $input_height - 6;
      margin: 3px;
    }

    .url-harvest-checkbox {
      height: $input_height;
      margin-top: 5px;

      label {
        float: left;
        margin-right: 10px;
        line-height: $input_height - 5;
      }
    }

    .cap-checkbox {
      width: 90px;
      float: left;

      &:after {
        content: 'No';
      }
      &:before {
        content: 'Yes';
      }

      label {
        width: 46px
      }

      input[type=checkbox] {

        &:checked + label {
          left: 40px;
        }
      }
    }
  }
}


// CMS JSON Analysis Styling

// destroys the view
/*
.depositgroup-array > .newarray {

  [data-alpaca-field-name$="_software"],
  [data-alpaca-field-name$="_os"] {
    .depositgroup-object > .newarray {

      .alpaca-container-item-first {
        width: 65%;
        float: left;
      }

      .alpaca-container-item-last {
        float: left;
        width: 35%;
      }

      .alpaca-control {
        width: 100%!important;
      }
      .alpaca-control-label {
        display: none;
      }
    }
  }

  [data-alpaca-field-name$="_final_state_particles"]{
    .depositgroup-object > .newarray {

      .alpaca-container-item:first-child {
        width: 40%;
        float: left;
      }

      .alpaca-container-item:nth-child(2) {
        float: left;
        width: 20%;
      }

      .alpaca-container-item:nth-child(3) {
        float: left;
        width: 20%;
      }

      .alpaca-container-item:nth-child(4) {
        float: left;
        width: 20%;
      }

      .alpaca-control { 
        width: 100%!important;
      }
      .alpaca-control-label {
        display: none;
      }
    }
  }


  // [data-alpaca-field-name$="_user_code"],
  [data-alpaca-field-name$="_software"]{
    .depositgroup-object > .newarray {
      input {
        width: 100%;
      }

      .alpaca-container-item:first-child {
        width: 70%;
        float: left;
      }

      .alpaca-container-item:nth-child(2) {
        float: left;
        width: 15%;
      }

      .alpaca-container-item:nth-child(3) {
        float: left;
        width: 15%;
      }

      .alpaca-control {
        width: 100%!important;
      }
      .alpaca-control-label {
        display: none;
      }
    }
  }
}
*/

[data-alpaca-field-name$="aod_processing_triggers"]{
  .depositgroup-object > .newarray {

    .alpaca-container-item {
      width: 33.3333%;
      float: left;
    }

    .alpaca-field-select2 span.select2 {
      width: 100%!important;
    }

    .alpaca-control-label {
      display: none;
    }
  }
}


// LHCb JSON Analysis Styling
