{%- extends "cap_theme/page.html" %}

{%- if record.collections.primary and record.collections.secondary %}
    {% set schema = config['CAP_JSON_FORMS'][record.collections.primary][record.collections.secondary]['name'] %}
    {% set schema = config['CAP_JSON_FORMS'][record.collections.primary][record.collections.secondary]['schema'] %}
    {% set options = config['CAP_JSON_FORMS'][record.collections.primary][record.collections.secondary]['options'] %}
{%- endif %}
{# <meta tags> #}

{% block css %}
    {{ super() }}
    {% assets "cap_alpaca_edit_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{% endblock css %}

{%- block page_body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="record-display" class="cap-box">
                    <nav id="record-menu" class="navbar">
                        <ul class="rec_nav nav navbar-nav">
                            <li><a class="active" href="#">Basic Info</a></li>
                            <li><a href="#">Metadata</a></li>
                            <li><a href="#">Connections</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </nav>
                    <div id="record-form" data-schema="{{schema}}" data-options="{{options}}">
                        <div class="record-loading">
                            <img src="{{url_for('static', filename='img/loader.gif')}}">
                        </div>
                        <div class="record-rendered"></div>
                    </div>
                    <div id="record-data">
                        {{record}}
                    </div>
            </div>
        </div>
    </div>
</div>
{%- endblock %}

{%- block javascript %}
{{ super() }}
    <script>var recordData = {{record |tojson|safe}};</script>
    {% assets "cap_alpaca_edit_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}
