interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://reana.cern.ch/api/workflows/4e4e6afc-fd57-4f59-836a-40ae19d2d6d0/logs
  response:
    body:
      string: "{\n  \"logs\": \"{\\\"workflow_logs\\\": \\\"\\\", \\\"job_logs\\\"\
        : {}, \\\"engine_specific\\\": null}\", \n  \"user\": \"63449ef7-be3a-4e77-b503-fb18a2e8a702\"\
        , \n  \"workflow_id\": \"4e4e6afc-fd57-4f59-836a-40ae19d2d6d0\", \n  \"workflow_name\"\
        : \"sturdy-wallaby.1\"\n}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '1'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1647266777'
    status:
      code: 200
      message: OK
version: 1
