interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://reana.cern.ch/api/workflows/4e4e6afc-fd57-4f59-836a-40ae19d2d6d0/workspace
  response:
    body:
      string: "{\n  \"has_next\": false, \n  \"has_prev\": false, \n  \"items\": [\n\
        \    {\n      \"last-modified\": \"2022-03-10T15:00:20\", \n      \"name\"\
        : \"data/names.txt\", \n      \"size\": {\n        \"human_readable\": \"\
        20 Bytes\", \n        \"raw\": 20\n      }\n    }\n  ], \n  \"page\": 1, \n\
        \  \"total\": 1\n}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '0'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1647266780'
    status:
      code: 200
      message: OK
version: 1
