interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://reana.cern.ch/api/you
  response:
    body:
      string: "{\n  \"email\": \"test.@test.ch\", \n  \"full_name\": \"\
        test\", \n  \"quota\": {\n    \"cpu\": {\n      \"usage\": {\n\
        \        \"human_readable\": \"3m 55s\", \n        \"raw\": 235632\n     \
        \ }\n    }, \n    \"disk\": {\n      \"usage\": {\n        \"human_readable\"\
        : \"237 KiB\", \n        \"raw\": 242688\n      }\n    }\n  }, \n  \"reana_server_version\"\
        : \"0.8.3\", \n  \"reana_token\": {\n    \"requested_at\": \"Thu, 11 Mar 2021\
        \ 16:44:09 GMT\", \n    \"status\": \"active\", \n    \"value\": \"Xxxxxxxxxxxxxxxxxxxxxxxxx\"\
        \n  }, \n  \"username\": \"test\"\n}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '1'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1648031902'
    status:
      code: 200
      message: OK
version: 1
