// Setting the path to fonts files. test
$icon-font-path: "/static/node_modules/bootstrap/fonts/";
$fa-font-path: "/static/node_modules/font-awesome/fonts";

@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";
$cap_color: #8A949E;

$cap_box_bg: #fff;
$cap_box_color: $cap_color;

@import "variables";
@import "type";
@import "body";
@import "navbar";
@import "footer";
@import "record";
@import "searchbar";

header {
    nav.navbar-default {
        background-color: transparent;
    }
    .navbar.navbar-inverse {
      background-color: transparent;
      }
}

.cap-box {
    background-color: #fff;
    color: #8A949E;
    box-shadow: 0px 0px 100px rgba(194, 196, 208, 1);
    padding: 20px;
    border-radius: 3px;

    > header {
        color: #8A949E;
        font-weight: 400;
        font-family: 'Futura';
        font-size: 20px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        text-indent: 0.1px;
        border-bottom: 1px solid #eee;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.cap-checkbox {
  width: 120px;
  height: 26px;
  background: #AFB9C5;
  float: right;
  position: relative;
  border-radius: 50px;
  // box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  &:after {
    content: 'Private';
    color: #fff;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
  }
  &:before {
    content: 'Public';
    color: #2C3E50;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }
  label {
    display: block;
    width: 62px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 55px;
    }
  }
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}