#cap_home_search {
    margin-top: 100px;
}


/* MARKETING CONTENT
-------------------------------------------------- */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

#cap-front {
  margin-top: 30px;
}

#cap-hello {
}

#cap-data {
  margin-top: 30px;

}

#cap-experiments {
  margin-top: 70px;

  a.cap-box {
    display: block;
  }
}

#cap-records {
}