$header_btn_height: 40px;
$cap_header_height: 90px;

@import "searchbar";

.cap-header {
    background-color: #ffffff;
    border-bottom: 1px solid $cap_base_color;
    height: $cap_header_height;
    padding: 25px 0;
}

.cap-home-logo {
    display: inline-block;
    margin-top: -12px;
}

#header-upload {
    background-color: $cap_btn_bg;
    color: #fff;
    height: $header_btn_height;
    line-height: 24px;
    font-size: 16px;
    border-radius: 2px;
}

#cap-home-user-menu {
    color: #333;

    .btn {
        background-color: #fff;
        font-size: 18px;
        height: 40px;
        border-radius: 2px;
        border: 1px solid #ccc;
        color: #ccc;
    }
    .dropdown-menu {
        right: 40px;

        li.header{
            padding: 0 10px;
            color: #767676;
        }

        li {
            padding: 0;

            a {
                padding: 4px 10px;
            }
            a:hover {
                background-color: $cap_base_color;
                color: #fff;
            }
        }
    }
}