.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    /* all links */
    .nav>li>a {
        color: #999;
        border-left: 2px solid transparent;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 400;
    }

    /* nested links */
    .nav .nav>li>a {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 30px;
        font-size: 12px;
    }
    /* active & hover links */
    .nav>.active>a,
    .nav>li>a:hover,
    .nav>li>a:focus {
        color: #563d7c;
        text-decoration: none;
        background-color: transparent;
        border-left-color: #563d7c;
    }
    /* all active links */
    .nav>.active>a,
    .nav>.active:hover>a,
    .nav>.active:focus>a {
        font-weight: 700;
    }
    /* nested active links */
    .nav .nav>.active>a,
    .nav .nav>.active:hover>a,
    .nav .nav>.active:focus>a {
        font-weight: 500;
    }
    /* hide inactive nested list */
    .nav ul.nav {
        display: none;
    }
    /* show active nested list */
    .bs-docs-sidebar .nav>.active>ul.nav {
        display: block;
    }
}
