.__Form__{
  height: 100%;
  fieldset {
    border: 0
  }
}

.LayerArrayFieldList{
  .ant-list-item{
    border: 1px solid #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
  }
  .ant-list-item-meta:hover{
    cursor: pointer;
  }
  .ant-list-item:last-child{
    border: 1px solid #f0f0f0;
  }
}