<div class="row">
 <div class="cap-deposit">
    <div ng-init="query={}; queryBy='$';" class="cap-deposit-sidebar cap-fixed-height-col">
     <div class="panel panel-default cap-panel">
       <div class="panel-heading">
         <div ng-hide="recordsVM.invenioRecordsAlert.type == 'success' && recordsVM.invenioRecordsArgs.templateParams[recordsVM.invenioRecordsAlert.action].hide">
           <div ng-show="recordsVM.invenioRecordsEndpoints.self">
             <ul class="list-inline text-center">
              <li ng-hide='recordsVM.invenioRecordsModel["_deposit"]["status"] == "published"'>
                <button
                  ng-disabled="depositionForm.$invalid || depositionForm.$pristine || recordsVM.invenioRecordsLoading"
                  class="btn save-btn action-btn"
                  ng-click="recordsVM.actionHandler(['self', 'PUT'])">
                    Save
                </button>
              </li>
               <li ng-hide='recordsVM.invenioRecordsModel["_deposit"]["status"] == "published"'><button  ng-disabled="depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading" class="btn save-publish-btn action-btn" ng-click="recordsVM.actionHandler(['publish', 'POST'], '/deposit')">Publish</button></li>
               <li ng-hide='recordsVM.invenioRecordsAlert.data.metadata["_deposit"]["status"] == "draft" || recordsVM.invenioRecordsModel["_deposit"]["status"]== "draft"'><button  ng-disabled="depositionForm.$invalid || depositionForm.$pristine || recordsVM.invenioRecordsLoading" class="btn edit-save-btn action-btn" ng-click="recordsVM.actionHandler([['edit', 'POST'], ['self', 'PUT']], '/deposit')">Edit & Save</button></li>
               <li ng-hide='!recordsVM.invenioRecordsEndpoints.discard || recordsVM.invenioRecordsModel["_deposit"]["status"] == "published" || !recordsVM.invenioRecordsModel["_deposit"].hasOwnProperty("pid")'><button ng-disabled="recordsVM.invenioRecordsLoading" class="btn discard-btn action-btn" ng-click="recordsVM.actionHandler(['discard', 'POST'], '/deposit')">Discard</button></li>
             </ul>
           </div>
           <div ng-show="!recordsVM.invenioRecordsEndpoints.self">
             <ul class="list-inline text-center">
               <li><button ng-disabled="depositionForm.$invalid || recordsVM.invenioRecordsLoading" class="btn save-btn action-btn" ng-click="recordsVM.actionHandler(['self', 'PUT'])">Save</button></li>
             </ul>
           </div>
         </div>
       </div>
       <div class="panel-heading forms-font-color search-fields">
         <span class="fa fa-search forms-font-color"></span>
         <input
           type="text"
           class="form-control filter-fields-searchbar"
           placeholder="Filter fields..."
           ng-model="query[queryBy]"
         >
       </div>
       <div id="cap-deposit-navigation">
         <div ng-repeat="formElement in recordsVM.invenioRecordsForm | filter:query" ng-show="formElement.allowDisplay || formElement.condition"  class="panel-body  cursor-pointer" ng-click="updateContent( recordsVM.invenioRecordsForm.length, $index)">
          <div class="dropdown" uib-dropdown auto-close="disabled" is-open="status.isopen">
            <div uib-dropdown-toggle id="nav{{formElement.key[0]}}" >
              <span class="forms-filter-fields-font-size fixed-column-link" >
                <strong>{{formElement.title | uppercase}}</strong>
              </span>
              <i class="fa" ng-class="{'fa-caret-down':status.isopen, 'fa-caret-right':!status.isopen}" aria-hidden="true"></i>
              <span
                class="progress-bar progress-bar-{{type[formElement.key[0]]}} custom-progress-bar"
                role="progressbar">
                  {{ progress[formElement.key[0]] }}
                  <span ng-hide="progress[formElement.key[0]] == 'N/A'">%</span>
              </span>
            </div>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="nav{{formElement.key[0]}}">
             <li ng-class="{{fontColor}}" class="list-subelement" ng-repeat="(key, value) in formElement.schema.properties || formElement.schema.items.properties" event-focus="click" event-focus-id="{{key}}" ng-click="$event.stopPropagation();"><i class="fa fa-circle-o"></i>
             {{value.title}}</li>
            </ul>
          </div>
         </div>
         <span id="no-results" ng-show="(recordsVM.invenioRecordsForm | filter:query).length == 0">No results found. Please try again.</span>
        </div>
      </div>
   </div>
   <div class="cap-deposit-form">
     <form
     name="depositionForm"
     class="form-horizontal"
     ng-hide="recordsVM.invenioRecordsAlert.type == 'success' && recordsVM.invenioRecordsArgs.templateParams.responseParams[recordsVM.invenioRecordsAlert.action].hide"
     sf-schema="recordsVM.invenioRecordsSchema"
     sf-form="recordsVM.invenioRecordsForm"
     sf-model="recordsVM.invenioRecordsModel"
     sf-options="{ validateOnRender: true, formDefaults: { feedback: true, onChange: 'recordsVM.removeValidationMessage(modelValue,form)', ngModelOptions: { updateOn: 'default blur', allowInvalid: true}, allowDisplay: true } }"
     ></form>
   </div>
 </div>
</div>
