{% extends 'invenio_deposit/index.html' %}

{%- block body_inner %}
<div id="cap-records-index" class="cap-container container">
    <h2>Search results</h2>
    <div id="cap-search">
        <invenio-search
        search-endpoint="{{ config.SEARCH_UI_SEARCH_API }}"
        search-hidden-params='{% if search_hidden_params %}{{search_hidden_params|tojson}}{% endif %}'
        search-headers='{"Accept": "{{ config.SEARCH_UI_SEARCH_MIMETYPE|default('application/json')}}"}'
        >
        {{super()}}
        </invenio-search>
    </div>
    {%- endblock body_inner %}

    {%- block page_body %}
    <div class="container search-page">
        {% block search_error %}{{super()}}{% endblock search_error %}
        <div class="row">
            <div ng-class="{'col-md-9 col-md-push-3': vm.invenioSearchResults.hits.total != 0}">
                <div class="panel panel-default cap-panel">
                    <div class="panel-heading">
                        {%- block search_sort %}
                        <div class="form-inline">
                            <div class="form-group">
                                {%- set sort_options = config.get('RECORDS_REST_SORT_OPTIONS', {}).get(config.DEPOSIT_UI_SEARCH_INDEX) %}
                                {%- if sort_options %}
                                <label>{{ _('Sort') }}</label>
                                {%- block search_sort_select scoped %}
                                <invenio-search-select-box
                                sort-key="sort"
                                available-options='{{ sort_options|format_sortoptions|safe }}'
                                template="{{ url_for('static', filename='templates/invenio_deposit/selectbox.html') }}"
                                >
                                </invenio-search-select-box>
                                {%- endblock search_sort_select %}
                                {%- block search_sort_order scoped %}
                                <invenio-search-sort-order
                                sort-key="sort"
                                template="{{ url_for('static', filename='templates/invenio_deposit/togglebutton.html') }}"
                                >
                                </invenio-search-sort-order>
                                {%- endblock search_sort_order %}
                                {%- endif %}
                            </div>
                        </div>
                        {%- endblock search_sort %}
                    </div>
                    {%- block search_results %}
                    <invenio-search-results
                    template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_RESULTS) }}">
                    </invenio-search-results>
                    {%- endblock search_results %}
                </div>
            </div>
            {%- block search_facets %}
            <div class="col-md-3 col-md-pull-9 col-xs-12">
                <invenio-search-facets
                template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_FACETS) }}">
                </invenio-search-facets>
                {%- endblock search_facets %}
            </div>
        </div>
    </div>
    {%- endblock page_body %}
</div>
