@import "variables";

$pushmenu-bgc: $dark-blue-theme-color;
$pushmenu-bgc-active: $light-blue-theme-color;



@media (min-width: 1300px) {
}


#cap-sidebar-left {
    position: fixed;
    background-color: #fff;
    height: 100%;
    padding-bottom: 50px;
    display: inline-block;
    width: 230px;
    top: $cap_header_height;
    z-index: 101;
    border-right: 1px solid $light-blue-theme-color;

    &.menu-opened {
        display: block;
    }

    #menu {
        height: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1400px) {
    #cap-sidebar-left {
        position: absolute;
        border:  1px solid $light-blue-theme-color;
        height: auto;
        display: inline-block;
        width: 230px;
        left: 10px;
        top: $cap_header_height + 5;
        z-index: 10;

        &.menu-opened {
            display: block;
        }
    }
}

.multilevelpushmenu_wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%!important;
    padding: 0 15px;
    padding-top: 20px;

    footer {
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-overflow: hidden;
        margin-top: 30px;
        border: 1px solid #eee;

        code {
            display: inline-block;
            color: $light-blue-theme-color;
            background-color: #fff;
            border: 1px solid $light-blue-theme-color;
            border-radius: 3px;
            text-align: center;
            box-shadow: 0 1px 0 $light-blue-theme-color, 0 1px 0 $light-blue-theme-color;
            padding: 4px 9px;
        }
    }

    a.exp_chooser {
        font-size: 10px;
        color: $light-blue-theme-color;
    }

    .color1 {
        background-color: #fff!important;
    }

    .color2 {
        background-color: #f6f6f6!important;
    }

    .color3 {
        background-color: #e6e6e6!important;
    }

    .levelHolderClass {
        overflow: hidden;
        width: 100%!important;
        min-height: 100%;
        font-size: 14px;
        zoom: 1;
    }

    .multilevelpushmenu_inactive {
        // background: $pushmenu-bgc;
    }

    h2 {
        font-size: 16px;
        line-height: 1em;
        font-weight: bold;
        color: $dark-blue-theme-color;
        padding: 0 .4em 0 .4em;
    }

    .menu-header {
        background-color: $cap_searchbar_bgcolor;
        width: 100%;
        display: inline-block;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            cursor: pointer;
            // padding: .7em .4em;
            // margin-left: -.4em;

            > .nav-item.has-child {
                border-top: 1px solid #ccc;
                padding-top: 5px;
                margin-top: 10px;
                &:hover {
                    background-color: #fff;

                    > a {
                        > .nav-title {
                            text-decoration: underline;
                        }
                    }
                }
                > div {
                    margin: -5px -10px;
                }
                > a {
                    > .nav-title {
                        color: $light-blue-theme-color;
                        font-size: 12px;
                        padding-bottom: 2px;
                        margin-left: -5px;
                    }
                }

                &.active {
                    background-color: #fff;
                    > a {
                        > .nav-title {
                            text-decoration: underline;
                        }
                    }
                    &:hover {
                        background-color: #fff;
                    }
                }
            }

            > .nav-item {

                &.active {
                    background-color: $light-blue-theme-color;
                    &:hover {
                        background-color: $light-blue-theme-color;
                        a {
                            color: #fff;
                        }
                    }

                    a {
                        color: #fff;
                    }
                }
                padding: 5px 10px;
                a {
                    line-height: 20px;

                }
                &:last-child {
                    // border-bottom: 1px solid $light-blue-theme-color;
                }

                &:hover {
                    background-color: $pushmenu-bgc;
                    color: #fff;
                    a {
                        color: #fff;
                    }
                }
            }
            ul {
                li {

                }
            }
            .nav-icon {
                flex: 1 20px;
            }

            .nav-title {
                flex: 1 100%;
                text-align: left;
            }
        }
    }

    a {
        display: inline-block;
        width: 100%;
        outline: none;
        font-size: 14px;
        line-height: 30;
        text-decoration: none;
        color: $dark-blue-theme-color;

        &:hover {
            color: #fff;
        }
    }

    .backItemClass {
        display: block;
        padding: .4em .4em .4em .4em;
        background: inherit;
        border-top: 1px solid $light-blue-theme-color;
    }

    .invisible {
        visibility: visible;
    }

    .visible {
        visibility: visible;
    }

    .cursorPointer {
        cursor: pointer;
    }

    &.ltr {
        .levelHolderClass {
            left: 0;
            margin-left: 0;
        }

        .iconSpacing {
            padding: 0 .4em 0 0;
        }

        .itemIcon {
            float: right;
        }

        .floatRight {
            float: right;
        }

        .floatRight.fa {
            margin-right: 15px;
        }

        .floatLeft {
            float: left;
        }
    }

    &.rtl {
        right: 0;
        text-align: right;

        .levelHolderClass {
            right: 0;
            margin-right: 0;
        }

        .multilevelpushmenu_collapse {
            margin-right: -225px;
        }

        .iconSpacing {
            padding: 0 0 0 .4em;
        }

        .floatRight {
            float: left;
        }

        .floatRight.fa {
            margin-right: 15px;
        }

        .floatLeft {
            float: right;
        }
    }
}
