#search-page {

  .search-content {
    width: 100%;
    display: flex;
  }

  .left, .right {

  }

  .left {
    width: 25%;
    padding-right: 15px;
  }
  .right {
    flex: 1;
  }

  invenio-search-select-box select {
      color: black;
  }

  invenio-search-sort-order select {
      color: black;
  }
}
