<p>The present questionnaire has the purpose of informing the Statistics
Committee on the details of ongoing analyses, in the interest of a quicker
and simpler path to approval of physics results. We recommend that you
submit your answers at your earliest convenience, regardless of the status
of your analysis (in progress, or in advanced stage, or about to be
pre-approved). Changes in the statistical analysis after submission can be
sent as a simplified "update", using a link you will receive via email
after submitting this form.</p>

<p>Please note: each analysis with a separate CADI entry should fill out a
separate entry. It is highly advisable that the questionnaire be filled by
an author who knows the details of the full analysis, if necessary in
consultation with colleagues.</p>

<p>The purpose of this questionnaire is two-fold:</p>
<ul>
<li>It points you to the relevant best practices and recommendations of the
   CMS Statistics Committee.</li>
<li>It provides the Statistics Committee with feedback about the
statistical methods used at an early point of the analysis where potential
issues can still be clarified or fixed.</li>
</ul>

<p>Note: There are multiple-choice answers for many questions. These will not
always cover your case. If you are unsure about which answer to choose,
just choose the answer you think decribes best what you do and use the text
field "Additional comments" for clarification. Also note that many
questions foresee that you choose more than one option, in this case choose
<em>all</em> which apply.</p>

<p>After you filled out you name and email address, you can use the "Save"
button which is always shown at the bottom of the browser window to save
the current form data for later updating. This will not notify the SC.
Once you completed the questionnaire, use the "Submit Answers" at the very
bottom of the questionnaire. This will notify the SC about your submission.
After submitting to the SC, updates are still possible; they will still
be reported to the SC.</p>

<p>We thank you for your patience and we encourage you to be as explicative as
possible in the free-text boxes. Also, we do appreciate any feedback you
may be willing to provide, through a text box at the end.</p>
