<div id="search-page" class="cap-container container">
  <invenio-search
   search-endpoint="/api/deposits"
   search-extra-params=''
   search-hidden-params=''
   search-headers='{"Accept": "application/json"}'
  >
  <div class="search-content">
    <invenio-search-error
      template="/static/templates/invenio_search_ui/error.html"
      message="Search failed.">
    </invenio-search-error>

    <div class="left" ng-if="vm.invenioSearchResults.hits.total != 0">
      <!-- <invenio-search-range
       options="{'histogramId': '#year_hist',
                'selectionId': '#year_select',
                'name': 'years',
                'width': 180}"
       template="/static/templates/invenio_search_ui/range.html">
      </invenio-search-range> -->
      <invenio-search-facets
       template="/static/node_modules/invenio-search-js/dist/templates/facets.html">
      </invenio-search-facets>
    </div>
    <div class="right">
      <div class="panel cap-panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <invenio-search-count
               template="/static/templates/invenio_search_ui/count.html">
              </invenio-search-count>
            </div>
            <div class="col-xs-6 ">
            <div class="pull-right">
              Sort by:
              <invenio-search-select-box
                 sort-key="sort"
                 available-options='{"options": [{"title": "Most recent", "value": "mostrecent"}, {"title": "Best match", "value": "bestmatch"}]}'
                 template="/static/templates/invenio_search_ui/selectbox.html"
                >
              </invenio-search-select-box>
              <invenio-search-sort-order
               sort-key="sort"
               template="/static/templates/invenio_search_ui/togglebutton.html"
              >
              </invenio-search-sort-order>
            </div>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <invenio-search-results
           template="/static/templates/cap/search/results_page.html">
          </invenio-search-results>
        </div>
      </div>
    </div>
  </invenio-search>
  </div>
</div>
