<div id="profile-page" class="cap-container container">
  <div class="main-content">
    <div class="sidebar-left">
      <div class="panel cap-panel">
        <div class="panel-heading">
          {{'PROFILE SETTINGS' | uppercase}}
        </div>
        <div class="panel-body">
          <ul class="sidebar-menu">
            <li ui-sref-active="active" class="menu-item"><a ui-sref="app.profile.overview">Overview</a></li>
            <li ui-sref-active="active" class="menu-item"><a ui-sref="app.profile.settings">Settings</a></li>
            <li ui-sref-active="active" class="menu-item"><a ui-sref="app.profile.applications">Applications</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="body">
      <ui-view/>
    </div>
  </div>
</div>