<header>
  <h1>Overview</h1>
</header>
<div id="account-overview" class="content">
  <h3>Account Information</h3>
  <div class="info">
    <div class="item">
      <div class="item-title">Details</div>
      <div class="item-body">
        <div class="avatar">{{currentUser.email[0] | uppercase}}</div>
        <div class="details">
          {{currentUser.email}}<br/>
          User ID#: {{currentUser.id}}<br/>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item-title">Collaboration(s)</div>
      <div class="item-body">
        <span class="cap-pill" ng-repeat="collab in currentUser.collaborations">{{collab}}
          <span class="tag" ng-if="collab == currentUser.current_experiment">current</span>
        </span>
      </div>
    </div>
    <div class="item">
      <div class="item-title">Deposition Rights</div>
      <div class="item-body">
        <div class="deposit-group" ng-repeat="dg in currentUser.deposit_groups">{{dg.name}}

        </div>
      </div>
    </div>
  </div>
</div>