#published-preview-page .published-hide-sidebar {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: unset;
}

#published-preview-page .button-align {
  align-items: center;
}

#published-preview-page .mt-small {
  margin: 10px 0 0 0 !important;
}
#published-preview-page .center-small {
  align-items: center;
}


@media only screen and (min-width: 720px) {
  #published-preview-page .button-align {
    align-items: flex-end;
  }
  #published-preview-page .mt-small {
    margin: 0 !important;
  }

  #published-preview-page .center-small {
    align-items: flex-start;
  }
}


@media only screen and (min-width: 1410px) {
  #published-preview-page .published-hide-sidebar {
    position: unset !important;
    width: 360px;
    max-width: 100%;
  }
}
