<div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapse-{{ idx }}">
            <p> <a href=''> {{ group.name }} </a> <i class="fa fa-chevron-down fa-fw pull-right"></i></p>
            {% if group.meta.indication %}
                <span class="text-muted pull-right" style="padding-right: 10px;">{{ group.meta.indication }}</span>
            {% endif %}
        </div>
    <div id="collapse-{{ idx }}" class="panel-collapse collapse 'in'">
    <div class="panel-body">