<div class="push-footer">
  <div class="col-md-5 custom-col">
    <div class="row">
      <div class="col-md-12">
        <a  href="/"><img id="logo-position" src="/static/img/cap_logo_lrg.svg" width="80%" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2  class="pull-left custom-header"><strong>Welcome to the </strong><strong id="cern-strong-header">CERN</strong><br><strong>Analysis Preservation Portal.</strong></h2>
        <h3 class="pull-left">Our mission is to preserve the analyses <br> across all CERN experiments for years <br> to come...</h3><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 home-login-button">
        <a target="_self" href="/app/oauth/login/cern/?next=/" class="login-button btn btn-primary btn-lg" >
          <i class="fa fa-sign-in"></i>
          <span>Log in with your CERN account</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-7" >
    <img src="/static/img/home-image.svg"/>
  </div>
</div>