<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{$ctrl.header}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <cap-token-form
      ng-if="$ctrl.body == 'token'"
      token="$ctrl.params.token"
      scope-choices="$ctrl.params.sc.scope_choices"
      tokens="$ctrl.params.sc.tokens"
      actions="$ctrl.params.actions"
      alert="$ctrl.params.alerts"
    >
    </cap-token-form>
    <cap-client-form
      ng-if="$ctrl.body == 'client'"
      client="$ctrl.params.client"
      clients="$ctrl.params.clients"
      actions="$ctrl.params.actions"
      >
    </cap-client-form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.closeModal()">Close</button>
</div>