<div ng-init="tree=[];tree_more=[]" ng-repeat="(key, value) in vm.invenioSearchResults.aggregations track by $index" ng-show="vm.userQuery">
  <div ng-if="value.buckets.length > 0 && key != 'years'" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-capitalize">{{ key }}</h3>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled" ng-init="values=getValues(key)" ng-repeat="item in value.buckets">
        <li>
          <input type="checkbox" ng-checked="values.indexOf(item.key.toLowerCase().replace(' ', '')) > -1" ng-click="handleClick(key, item.key.toLowerCase().replace(' ', ''))" /> {{ item.key }} ({{ item.doc_count }})
        </li>
      </ul>
    </div>
  </div>
</div>
