<div class="drodown nav-item">
    <div class="nav-item-header" ng-click="collapseItem()" ng-class="{'title-lev1': form.key.length == 1}">
        <span class="title"><i class="fa" ng-class="{'fa-chevron-down': !form.collapsed && form.key.length == 1, 'fa-chevron-right': form.collapsed && form.key.length == 1, 'fa-sitemap': form.key.length != 1}"></i>{{form.title}}</span>
        <span class="progress-fields bg-primary">
          {{ form.items.length }}
          <span ng-if="form.schema.required">({{ form.schema.required.length }} req)</span>
      </span>
    </div>
    <ul uib-collapse="form.collapsed" aria-labelledby="nav{{form.key[0]}}">
      <li ng-repeat="formElement in form.items">
        <cap-deposit-nav-item form="formElement" model="model.get(formElement.key[formElement.key.length-1])">
        </cap-deposit-nav-item>
      </li>
    </ul>
</div>