<div class="dropown nav-item">
  <div class="nav-item-header" ng-click="switchNavItem(ii)" ng-class="{'title-lev1': form.key.length == 1}">
      <span class="title"><i class="fa" ng-class="{'fa-chevron-down': !form.collapsed && form.key.length == 1, 'fa-chevron-right': form.collapsed && form.key.length == 1, 'fa-list': form.key.length != 1}"></i>{{form.schema.title}}</span>
      <span class="progress-fields bg-primary">
        {{ model.size ? model.size : 0 }} Items
      </span>
</div>
    <ul uib-collapse="form.collapsed" class="dropdwn-menu">
        <span ng-if="!model || model.length == 0">
          No items created. Add item and contents to see overview
        </span>
        <li
          ng-repeat="item in [] | range: model.size"
          ng-class="{{fontColor}}"
          class="list-subelement">
            <cap-deposit-nav-array-item form="form" model="model.get(item)">
            </cap-deposit-nav-array-item>
        </li>
    </ul>
</div>