{{ _s_model = getModelValue(section.key);"" }}
<div class="drodown nav-item">
    <div class="nav-item-header" ng-click="switchNavItem($index)" ng-class="{'title-lev1': section.key.length == 1}">
        <span class="title"><i class="fa" ng-class="{'fa-chevron-down': !section.collapsed && section.key.length == 1, 'fa-chevron-right': section.collapsed && section.key.length == 1, 'fa-sitemap': section.key.length != 1}"></i>{{section.title}}</span>
        <span ng-if="section.schema.required" class="progress-fields bg-primary">
          {{filled = _s_model | pick: isEmptyEl | omit: omitNgDirt; ""}}
          {{ _filled =  getLength(filled); ""}}
          {{ _req_filled =  getRequiredLength(section.schema.required, filled); ""}}
          <span> {{_req_filled}} / {{ section.schema.required.length }} req</span>
      </span>
    </div>

    <ul ng-if="section.items && section.items.length > 0" uib-collapse="currentNavItem != $index" aria-labelledby="nav{{section.key[0]}}">
        <li ng-repeat="sub_section in section.items">
            <div ng-if="['array', 'tabArray', 'tabArrayTop', 'cap:tagsInput'].indexOf(sub_section.type) > -1 ">
                <i class="fa fa-list"></i>
                {{sub_section.title}}
                <span ng-if="section.schema.required.indexOf(sub_section.key[sub_section.key.length-1]) > -1">*</span>
                <ul>
                    {{_modelArray = getModelValue(sub_section.key); ""}}
                    <li ng-repeat="item in _modelArray track by $index">
                        <i class="fa fa-minus-square-o"></i>
                        {{sub_section.title}} #{{$index}}
                        {{filled_array = item | pick: isEmptyEl | omit: omitNgDirt ; ""}}
                        {{ _req_filled =  getRequiredLength(sub_section.schema.required, filled_array); ""}}
                        <span ng-if="sub_section.schema.required" class="progress-fields bg-primary" style="display: relative;float: right;margin-right: 10px;padding:3px;">
                           {{ _req_filled > 0 ? _req_filled : 0 }} / {{sub_section.schema.required.length}} req
                        </span>
                        <ul>
                            <li ng-repeat="ss in sub_section.items">
                                {{ value = getArrayModelValue(ss.key, $parent.$index);""}}
                                <i class="fa" ng-class="{'fa-circle': value, 'fa-circle-o': !value}"></i>
                                <i uib-tooltip="{{getArrayModelValue(ss.key, $parent.$index)}}">{{ss.title}}</i>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div ng-if="['array', 'tabArray', 'tabArrayTop', 'cap:tagsInput'].indexOf(sub_section.type) == -1 ">
                {{ value = getModelValue( sub_section.key);""}}
                <i class="fa" ng-class="{'fa-circle': value, 'fa-circle-o': !value}"></i>
                <i tooltip-placement="right"  uib-tooltip="{{value}}">{{sub_section.title}}</i>
                <span ng-if="section.schema.required.indexOf(sub_section.key[sub_section.key.length-1]) > -1">*</span>
            </div>
        </li>
    </ul>
</div>
