<cap-deposit-nav-object
  ng-if="form.type == 'fieldset'"
  form="form"
  model="model"
  collapsed=collapsed
  switch-nav-item="switchNavItem"
  ii="ii">
</cap-deposit-nav-object>

<cap-deposit-nav-array
  ng-if="(form.type == 'array' || form.type == 'tabarray' || form.type == 'tabArrayTop')"
  form="form"
  model="model"
  collapsed=collapsed
  switch-nav-item="switchNavItem"
  ii="ii">
</cap-deposit-nav-array>
<cap-deposit-nav-default
  ng-if="!(form.type == 'fieldset' || form.type == 'array' || form.type == 'tabarray' || form.type == 'tabArrayTop')"
  form="form"
  model="model"
  collapsed=collapsed
  ii="ii">
</cap-deposit-nav-default>