{%- extends "cap_theme/page.html" %}

{% block css %}
    {{ super() }}
    {% assets "cap_alpaca_display_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{% endblock css %}

{%- block page_body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="record-head"></div>
                <div id="record-display" class="cap-box">
                    <nav id="record-menu" class="navbar">
                        <ul class="rec_nav nav navbar-nav nav-tabs" role="tablist">
                            {% block record_tabs_menu_before %}{% endblock %}
                            {% block record_tabs_menu_default %}
                                <li role="presentation" class="active"><a href="#info" role="tab" data-toggle="tab">Basic Info</a></li>
                            {% endblock %}
                            {% block record_tabs_menu_after %}{% endblock %}
                        </ul>
                        {%- if record.id|can_edit %}
                            <div class="edit-btn">
                                <a href="{{ url_for('records.edit_record', pid_value= record.get('_deposit', {}).get('pid',{}).get('value', None)) }}" class="btn">Edit</a>
                            </div>
                        {% endif %}
                    </nav>
                    <div class="tab-content">
                        {% block record_tabs_content_before %}{% endblock %}
                        {% block record_tabs_content_default %}
                            <div role="tabpanel" class="tab-pane active" id="info">
                                <div id="record-fields"
                                     data-schema="{{ url_for('records.jsonschema_deposit', collection=record.collections[0]) }}"
                                     data-options="{{ url_for('records.jsonschema_options', collection=record.collections[0]) }}">
                                    {%- if record.get("collections", None) %}
                                        <div id="record-collections">
                                            <span>Collections:</span>
                                            {% for r in record.get("collections", []) %}
                                                <a href="#">{{r}}</a> /
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="record-rendered"></div>
                                    <div class="record-loading">
                                        <img src="{{url_for('static', filename='img/loader.gif')}}">
                                    </div>
                                </div>
                                <div id="record-data">
                                </div>
                            </div>
                        {% endblock %}
                        {% block record_tabs_content_after %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}

{%- block javascript %}
    {{ super() }}
    <script>var recordData = {{record.get("_metadata", {})|tojson|safe}};</script>
    {% assets "cap_alpaca_display_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}
