{%- extends "cap_theme/page.html" %}

{% block css %}
    {{ super() }}
    {% assets "cap_alpaca_display_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{% endblock css %}

{%- block page_body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="record-head"></div>
                <div id="record-display" class="cap-box">
                    <nav id="record-menu" class="navbar">
                        <ul class="rec_nav nav navbar-nav nav-tabs">
                            <li class="active"><a href="#">Basic Info</a></li>
                        </ul>
                        {%- if record.id|can_edit %}
                            <div class="edit-btn">
                                <a href="{{ url_for('records.edit_record', pid_value= record.pid_value) }}" class="btn">Edit</a>
                            </div>
                        {% endif %}
                    </nav>
                    <div id="record-fields"
                         data-schema="{{ url_for('records.jsonschema', collection=record.collections[0]) }}"
                         data-options="{{ url_for('records.jsonschema_options', collection=record.collections[0]) }}">
                        {%- if record.collections %}
                            <div id="record-collections">
                                <span>Collections:</span>
                                {% for r in record.collections %}
                                <a href="#">{{record.collections[r]}}</a> / 
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="record-loading">
                            <img src="{{url_for('static', filename='img/loader.gif')}}">
                        </div>
                        <div class="record-rendered"></div>
                    </div>
                    <div id="record-data">
                        {{record}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}

{%- block javascript %}
{{ super() }}
    <script>var recordData = {{record |tojson|safe}};</script>
    {% assets "cap_alpaca_display_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}
