{%- extends "cap_theme/page.html" %}

{% block css %}
    {{ super() }}
    {% assets "cap_alpaca_edit_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
    <link rel="stylesheet" href="/static/node_modules/jsoneditor/dist/jsoneditor.css">
{% endblock css %}

{%- block page_body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="record-display" class="cap-box"  ng-controller="recordsController" ng-init="initRecord({% if record %}{{record.get('_deposit', {}).get('pid',{}).get('value', None) }}, '{{record.experiment}}'{% endif %});">
                    <nav id="record-menu" class="navbar">
                        <ul class="rec_nav nav navbar-nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#info" role="tab" data-toggle="tab">Basic Info</a></li>
                            <li role="presentation"><a href="#files" role="tab" data-toggle="tab">Files</a></li>
                            <li role="presentation"><a href="#json" role="tab" data-toggle="tab">JSON</a></li>
                            <li role="presentation"><a href="#permissions" role="tab" data-toggle="tab">Permissions</a></li>
                        </ul>
                    </nav>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="info">
                            <div id="record-form"
                                 data-schema="{{ url_for('records.jsonschema_deposit', collection=record.collections[0]) }}"
                                 data-options="{{ url_for('records.jsonschema_options', collection=record.collections[0]) }}">
                                {%- if record.get("collections", None) %}
                                    <div id="record-collections">
                                        <span>Collections:</span>
                                        {% for r in record.get("collections", []) %}
                                            <a href="#">{{r}}</a> /
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div style="padding: 0 10px ;">
                                    <div class="alert alert-danger" style="margin: 15px 0;">
                                      <div class="progress">
                                          <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                          </div>
                                      </div>
                                      WARNING: This is just a <strong>DEMO</strong>. Data saved is <strong>NOT</strong> backed-up at the moment and might be lost during any system upgrade
                                    </div>
                                </div>
                                <div class="record-loading">
                                    <img src="{{url_for('static', filename='img/loader.gif')}}">
                                </div>
                                <div class="record-rendered-loading"></div>
                                <div class="record-rendered"></div>

                                <div id="record-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                  <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      </div>
                                      <div class="modal-body">
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="files">
                            {% include "cap_theme/files.html" %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="json">
                            <div id="record-data">
                                <div id="record-editor"></div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="permissions">
                            {% include "cap_theme/permissions.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}

{%- block javascript %}
    {{ super() }}
    <script>var recordData = {{record.get("_metadata", {})|tojson|safe}};</script>
    {% assets "cap_alpaca_edit_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}
