/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

@font-face {
  font-family: CAPFont;
  src: url("../fonts/Web-Regular.eot");
  src: url("../fonts/Web-Regular.eot") format("embedded-opentype"),
    url("../fonts/Web-RegularItalic.eot") format("embedded-opentype"),
    url("../fonts/Web-Regular.woff") format("woff"),
    url("../fonts/Web-RegularItalic.woff") format("woff");
}
//@import '~grommet/scss/vanilla/index';

/* Styles */
// html,
// body {
//   height: 100vh;
//   width: 100vw;
// }
body  {
  font: 14px CAPFont;
}

// #app {
//   height: 100vh;
// }



// #app-main {
//   height: 100%; /*allows both columns to span the full height of the browser window*/
//   display: flex;
//   flex-direction: column;
// }

// #header {
//   height: 55.97px;
//   flex-shrink: 0;
//   display: inline-flex;
// }

label {
  margin-bottom: 0.15em;
}

// #main-container {
//   flex-grow: 1; /*ensures that the container will take up the full height of the parent container*/
//   overflow-y: auto; /*adds scroll to this container*/
//   height: 100%;
//   display: flex;
// }

.rjsf {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 5px;

  .cap-grommet-input {
    input {
      border: 0 !important;
    }
    input:focus {
      padding: "11px 23px";
      border: 0 !important;
    }
  }

  input[type="date"] {
    border: 0 !important;
    flex: 1;
    padding: 10px 23px !important;
    margin: 0 5px;
  }
}

.cap-async-select-input {
  > div > div {
    border: 0 !important;
  }
}

.rjsf-condenced {
  height: auto;
}

.published-array {
  background: #ffffff;
}

.grommet code {
  background-color: #e7e7e7;
  font-size: 85%;
  border-radius: 6px;
  overflow-x: auto;
  line-height: 20px;
  word-break: break-word;
  padding: .2em .4em;
}

// .rjsf > .align-form-center > div {
//   width: 100% !important;
//   max-width: 800px !important;
//   margin: 0 auto;
//   padding: 0 5px
// }

.fieldTemplate:nth-child(even) {
  background: #f5f5f5 !important;
}
.fieldTemplate:nth-child(even) .fieldTemplate-btn {
  background: #e9e9e9 !important;
}
.fieldTemplate:nth-child(even) .fieldTemplate-btn:hover {
  background: #e1e1e1 !important;
}
.fieldTemplate:nth-child(even) .fieldTemplate-delete-btn {
  background: #f5f5f5 !important;
}
.fieldTemplate:nth-child(even) .fieldTemplate-delete-btn:hover {
  background: #e1e1e1 !important;
}


// add border top and bottom for the DefaultArray & StringArrayField items
// when there is a readonly param
.fieldTemplateSeparator:nth-child(odd) {
  border-bottom: 1px solid #e4e4e4 !important;
  border-top: 1px solid #e4e4e4 !important;
}
.fieldTemplateSeparator:first-child {
  border-bottom: 1px solid #e4e4e4 !important;
  border-top: 0px !important;
}
.fieldTemplateSeparator:nth-last-child(1):nth-child(odd) {
  border-bottom: 0px !important;
  border-top: 1px solid #e4e4e4 !important;
}

.fieldTemplateSeparator:last-child:first-child {
  border-bottom: 0px !important;
  border-top: 0px !important;
}




.grommetux-check-box--toggle .grommetux-check-box__control {
  height: 10px !important;
  width: 44px !important;
  border-radius: 24px !important;
}

.grommetux-check-box--toggle .grommetux-check-box__control:after {
  height: 20px !important;
  width: 20px !important;
  top: -5px !important;
}

.grommetux-check-box__control {
  border-radius: 0px !important;
  border-width: 1px !important;
  height: 16px !important;
  width: 16px !important;
  margin-right: 8px !important;
}

.grommetux-check-box__control-check {
  height: 16px !important;
  width: 16px !important;
  top: -1px !important;
  left: -1px !important;
}

.search_facets .grommetux-check-box__label {
  line-height: 1.3 !important;
  font-size: 1.4em;
}


#anchor-no-style .grommetux-anchor:hover,
#anchor-no-style .grommetux-anchor {
  text-decoration: none;
  color: inherit;
}

.listItem:hover {
  background: rgb(238, 238, 238) !important;
}

.search-plot rect:hover {
  cursor: pointer;
  fill: rgb(40, 105, 146) !important;
}

#draft-editor-page form.rjsf {
  overflow: auto !important
}

.newNotification .ace_scroller{
  padding: 10px 20px;
}



// xsmall
@media only screen and (min-width: 320px) {
  .tabField{
    height: 100% !important;
    display: grid !important;
    grid-template-rows: auto 1fr !important;
    overflow: auto !important
  }
  .small-center-medium-between {
    justify-content: center;
  }
  // grommet padding changes when smaller screens
  // make sure to keep it consistent
  .grommetux-form-field__contents > div.grommetux-box--pad-horizontal-medium {
    padding: 0 24px;
  }

  //TODO: Update for better handling with grid
  .box-large-height {
    max-width: 100%;
    max-height: 35vh;
    height: 100%;
  }
  .box-xlarge-height {
    max-width: 100%;
    max-height: 50vh;
  }
  .animated-nav-wrapper {
    position: relative;
    min-width: 48px;
  }
  .small-row-medium-column {
    flex-direction: row !important;
    justify-content: space-around !important;
  }
  .animated-nav-text {
    display: flex !important;
    color: #000 !important;
  }
  .animated-nav:hover .animated-nav-text {
    display: flex !important;
  }
  .footer-items {
    padding: 5px !important;
  }
  .footer-order {
    display: flex !important;
    flex-direction: column-reverse !important;
  }


  .drafts-index-container {
    flex-direction: column !important;
    justify-content: space-between;
    height: 1vh !important;
  }
  .lg-row {
    flex-direction: column !important;
  }

  .sidebar-hide-small {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .show-sidebar {
    display: flex !important;
  }

  .hide-sidebar {
    display: none !important;
  }

  .lg-column {
    flex-direction: column-reverse !important;
  }

  #tabs-select-component {
    z-index: 4;
  }
  #tabs-select-component .css-yk16xz-control {
    border: 0;
  }
  .md-row {
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
  }
  .align-center-md {
    align-items: center !important;
  }
  .jst-md-center {
    justify-content: center !important;
    align-items: center !important;
  }
  .width-100 {
    width: 100% !important;
  }

  .sm-order-1 {
    order: 2;
    margin: 50px 0px;
    width: 100%;
  }
  .sm-order-2 {
    order: 1;
    margin: 50px 0px 0px 0px;
    width: 100%;
  }
  .sm-order-3 {
    order: 3;
    margin: 0px 0px 50px 0px;
    width: 100%;
  }

  .sm-order-4 {
    order: 4;
    margin: 0px 0px 50px 0px;
    width: 100%;
  }

  .dashboard-meter ul li {
    flex-direction: row !important;
  }


  .tabs-list {
    display: none !important;
  }
  .tabs-select-menu {
    display: flex !important;
    overflow: visible;
  }
  .select-menu {
    width: 300px;
  }

  #sidebar {
    display: none;
  }

  #sidebar_button {
    display: flex;
  }

  .search_result_box {
    min-width: 315px !important;
    max-width: 570px !important;
    overflow: visible;
  }
}

@media only screen and (min-width: 480px) {
  .search_result_box {
    min-width: 450px !important;
  }
}

// small
@media only screen and (min-width: 580px) {

  .sm-order-2 {
    order: 1;
  }
  .sm-order-1 {
    order: 2;
  }

  .search_result_box {
    min-width: 550px !important;
  }
}

// medium
@media only screen and (min-width: 720px) {

  .small-center-medium-between {
    justify-content: space-between;
  }

  .small-row-medium-column {
    flex-direction: column !important;
    justify-content: flex-start !important;
  }
  .animated-nav-text {
    display: none !important;
    color: #000 !important;
  }
  .animated-nav:hover {
    background: #e9e9e9 !important;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 170px;
    z-index: 200;
  }

  .animated-nav:hover .animated-nav-container {
    width: 170px !important;
  }
  .animated-nav:hover .animated-nav-row:hover {
    background: #f1f1f1 !important;
  }

  .footer-items {
    padding: 0;
  }

  .drafts-index-container {
    flex-direction: row !important;
  }

  .align-center-md {
    align-items: flex-start !important;
  }

  .sm-order-1 {
    order: 1;
    margin: 0;
  }
  .sm-order-2 {
    order: 2;
    margin: 0;
  }

  .sm-order-3 {
    margin: 0;
  }

  .sm-order-4 {
    margin: 0;
  }
  .md-row {
    flex-direction: column !important;
    justify-content: flex-start;
  }

  .lg-row {
    width: auto !important;
  }

  .search_result_box {
    min-width: 690px !important;
  }
}

@media only screen and (min-width: 800px) {

  .tabs-list-items {
    display: flex !important;
    flex-direction: row !important;
  }
}

@media only screen and (min-width: 850px) {
  .xlarge_box {
    width: 750px;
  }
  .justify-large {
    justify-content: center;
  }
}

@media only screen and (min-width: 910px) {
  .footer-order {
    display: flex !important;
    flex-direction: row !important;
  }
}

@media only screen and (min-width: 992px) {


  .search_result_box {
    min-width: 615px !important;
  }

  #sidebar {
    display: flex;
  }

  #sidebar_button {
    display: none;
  }
}

@media only screen and (min-width: 1070px) {
  .menuItem::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.3s;
  }

  .menuItem:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
}

// large
@media only screen and (min-width: 1179px) {
  .search_result_box {
    min-width: 800px !important;
  }
}

@media only screen and (min-width: 1114px) {
  .tabs-select-menu {
    display: none !important;
  }
  .tabs-list {
    display: flex !important;
  }
  .tabField{
    height: 100% !important;
    display: grid !important;
    grid-template-columns: auto 1fr !important;
    grid-template-rows: auto  !important;
    overflow: auto !important
  }

  .sidebar-hide-small {
    position: unset !important;
  }
  .lg-column {
    flex-direction: row !important;
  }

  .lg-row {
    position: unset;
  }

  .tabs-list-items {
    flex-direction: column !important;
    justify-content: flex-start;
  }

}
