<footer class="footer">
  <div class="menu-wrapper">
    <div class="container">
      <div class="row footer-exp-logos">
        <a href="http://alice.cern.ch"><img src="{{ url_for('static', filename='img/ALICE.svg') }}" alt=""></a>
        <a href="http://atlas.ch"><img src="{{ url_for('static', filename='img/ATLAS.svg') }}" alt=""></a>
        <a href="http://cms.cern.ch"><img src="{{ url_for('static', filename='img/CMS.svg') }}" alt=""></a>
        <a href="http://lhcb.cern.ch"><img src="{{ url_for('static', filename='img/LHCb.svg') }}" alt=""></a>
      </div>
      {#
      <div class="row footer-menu">
        <div class="col-sm-3 col-md-2">
        <h5>{{_('ABOUT')}}</h5>
        <ul class="list-unstyled">
        <li><a href="#">{{_('About us')}}</a></li>
        <li><a href="#">{{_('Mission')}}</a></li>
        </ul>
        </div>
        <div class="col-sm-3 col-md-2">
        <h5>{{_('RESOURCES')}}</h5></div>
        <div class="col-sm-3 col-md-2">
        <h5>{{_('ABOUT')}}</h5></div>
      </div>
      #}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <p class="pull-right"><a href="#">{{_('Privacy')}}</a> &middot; <a href="#">{{_('Terms of Use')}}</a> &middot; <a href="#">{{_('Cookies')}}</a></p>
      <p>&copy; 2015 {{_(config.THEME_SITENAME)}}</p>
    </div>
  </div>
</footer>