{%- extends "cap_theme/page.html" %}

{%- block header %}
  {{ super() }}

  {% block css %}
    {{ super() }}
    {% assets "cap_theme_front_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
    {% assets "invenio_search_ui_search_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
  {% endblock css %}
{% endblock header %}

{% block page_body %}
<div class="cap-home">
    <div class="container">
         {%- include "cap_theme/searchbar.html" %}
         <div class="row">
            <div id="cap-experiments">
                <div class="col-sm-3">
                    <a href="{{url_for('cap_alice.alice_landing')}}" class="cap-box">ALICE</a>
                </div>
                <div class="col-sm-3">
                    <a href="{{url_for('cap_atlas.atlas_landing')}}" class="cap-box">ATLAS</a>
                </div>
                <div class="col-sm-3">
                    <a href="{{url_for('cap_cms.cms_landing')}}" class="cap-box">CMS</a>
                </div>
                <div class="col-sm-3">
                    <a href="{{url_for('cap_lhcb.lhcb_landing')}}" class="cap-box">LHCb</a>
                </div>
            </div>
         </div>
     </div>
</div>
{% endblock %}


{%- block javascript %}
    {{ super() }}
    {% assets "cap_theme_front_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    {% assets "cap_theme_records_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    {% assets "cap_theme_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    {% assets "invenio_search_ui_search_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    <script src="{{ url_for('static', filename='node_modules/almond/almond.js') }}"></script>
{% endblock javascript %}