{%- raw -%}
    <div id="cap-home-search">
        <div class="search-input-main col-sm-9 col-xs-12">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
        <span class="search-input-sep col-sm-1 hidden-xs">in</span>
        <div class="search-input-collection col-sm-2 hidden-xs">
            <i class="fa fa-caret-down"></i>
            <select>
                <option>All Collections</option>
                <option>CMS</option>
            </select>
        </div>
    </div>
{% endraw %}