{% extends 'invenio_deposit/index.html' %}

{%- block body_inner %}
<div id="cap-records-index" class="cap-container container">
<h2>Shared Records</h2>
<div id="invenio-search">
  <invenio-search
   search-endpoint="{{ config.SEARCH_UI_SEARCH_API }}"
   search-headers='{"Accept": "{{ config.DEPOSIT_SEARCH_MIMETYPE|default('application/json')}}"}'
  >
    {{super()}}
  </invenio-search>
</div>
</div>
{%- endblock body_inner %}

{%- block page_body %}
<div class="search-page">
  {% block search_error %}{{super()}}{% endblock search_error %}

  <div class="panel panel-default cap-panel">
    <div class="panel-heading">
      {%- block search_facets %}
      {%- endblock search_facets %}
      {%- block search_sort %}
      <div class="form-inline">
        <div class="form-group">
        {%- set sort_options = config.get('DEPOSIT_REST_SORT_OPTIONS', {}).get(config.DEPOSIT_UI_SEARCH_INDEX) %}
        {%- if sort_options %}
          <label>{{ _('Sort') }}</label>
          {%- block search_sort_select scoped %}
          <invenio-search-select-box
            sort-key="sort"
            available-options='{{ sort_options|format_sortoptions|safe }}'
            template="{{ url_for('static', filename='templates/invenio_deposit/selectbox.html') }}"
            >
          </invenio-search-select-box>
          {%- endblock search_sort_select %}
          {%- block search_sort_order scoped %}
          <invenio-search-sort-order
          sort-key="sort"
          template="{{ url_for('static', filename='templates/invenio_deposit/togglebutton.html') }}"
          >
          </invenio-search-sort-order>
          {%- endblock search_sort_order %}
        {%- endif %}
        </div>
      </div>
      {%- endblock search_sort %}
    </div>
    {%- block search_results %}
    <invenio-search-results
      class="list-group"
      template="{{ url_for('static', filename='templates/cap/records/results.html') }}">
    </invenio-search-results>
    {%- endblock search_results %}
  </div>
  {%- block search_pagination_bottom %}
  <div align="center">
    <invenio-search-pagination
      template="{{ url_for('static', filename='templates/invenio_search_ui/pagination.html') }}">
    </invenio-search-pagination>
  </div>
  {%- endblock search_pagination_bottom %}

</div>
{%- endblock page_body %}