{% extends "page.html" %}

{% from "jsonedit/render_patch.html" import render_patch %}

{% block title %}
    <h2>{{ _('JSON Patch Conflict') }}</h2>
    <p>{{ _('The system was not able to apply your proposed changes to the record.') }}</p>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% block reason %}
                <h3>{{ _('Reason') }}</h3>
                <p>{{ reason }}</p>
            {% endblock %}
            {% block patch %}
                <h3>{{ _('Patch') }}</h3>
                {{ render_patch(patch) }}
                <strong>{{ _('Raw') }}:</strong>
                <pre>{{ patch_str }}</pre>
            {% endblock %}
            {% if record_old %}
            {% block record %}
                <h3>{{ _('Record (before patch)') }}</h3>
                <strong>{{ _('Raw') }}:</strong>
                <pre>{{ record_old }}</pre>
            {% endblock %}
            {% endif %}
            {% if record_new %}
            {% block record %}
                <h3>{{ _('Record (after patch)') }}</h3>
                <strong>{{ _('Raw') }}:</strong>
                <pre>{{ record_new }}</pre>
            {% endblock %}
            {% endif %}
        </div>
    </div>
{% endblock %}
