{% macro render_patch_generic(step, name, icon, attributes) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><i class="fa fa-fw fa-{{ icon }}"></i> {{name}}</strong>
        </div>
        <div class="panel-body">
            {% for k in attributes %}
                <div class="row">
                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 text-right">
                        <strong>{{ k }}:</strong>
                    </div>
                    <div class="col-lg-11 col-md-10 col-sm-9 col-xs-8">
                        {{ step.get(k, _('n/a')) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_patch_add(step) %}
    {{ render_patch_generic(step, 'add', 'plus', ['path', 'value']) }}
{% endmacro %}

{% macro render_patch_copy(step) %}
    {{ render_patch_generic(step, 'copy', 'clone', ['from', 'path']) }}
{% endmacro %}

{% macro render_patch_move(step) %}
    {{ render_patch_generic(step, 'move', 'suitcase', ['from', 'path']) }}
{% endmacro %}

{% macro render_patch_remove(step) %}
    {{ render_patch_generic(step, 'remove', 'minus', ['path']) }}
{% endmacro %}

{% macro render_patch_replace(step) %}
    {{ render_patch_generic(step, 'replace', 'clipboard', ['path', 'value']) }}
{% endmacro %}

{% macro render_patch_test(step) %}
    {{ render_patch_generic(step, 'test', 'check', ['path', 'value']) }}
{% endmacro %}

{% macro render_patch_unkown(step) %}
    {{ render_patch_generic(step, 'question-circle', 'unkown', step.iterkeys() | sort) }}
{% endmacro %}

{% macro render_patch_step(step) %}
    {% set op = step.get('op', '').lower() %}
    {% if op == 'add' %}
        {{ render_patch_add(step) }}
    {% elif op == 'copy' %}
        {{ render_patch_copy(step) }}
    {% elif op == 'move' %}
        {{ render_patch_move(step) }}
    {% elif op == 'remove' %}
        {{ render_patch_remove(step) }}
    {% elif op == 'replace' %}
        {{ render_patch_replace(step) }}
    {% elif op == 'test' %}
        {{ render_patch_test(step) }}
    {% else %}
        {{ render_patch_unkown(step) }}
    {% endif %}
{% endmacro %}

{% macro render_patch(patch) %}
    <ol>
        {% for step in patch %}
        <li>
            {{ render_patch_step(step) }}
        </li>
        {% endfor %}
    </ol>
{% endmacro %}
