<script type="text/x-handlebars-template">

<div>
{{#if options.label}}
  <legend class="{{#if options.labelClass}}{{options.labelClass}}{{/if}} alpaca-container-label">{{{options.label}}}</legend>
{{/if}}

{{#if options.helpers}}
  {{#each options.helpers}}
    <p class="alpaca-helper {{#if options.helperClass}}{{options.helperClass}}{{/if}}">
      <i class="alpaca-icon-helper"></i>
        {{{.}}}
    </p>
  {{/each}}
{{/if}}
<div style="background-color:pink;width:!00%;height:150px;"></div>
{{#container}}{{/container}}

</div>

</script>
