<script type="text/x-handlebars-template">
    <div class="url-harvest-container">
        <input type="text" id="{{id}}" {{#if options.placeholder}}placeholder="{{options.placeholder}}"{{/if}} {{#if options.size}}size="{{options.size}}"{{/if}} {{#if options.readonly}}readonly="readonly"{{/if}} {{#if name}}name="{{name}}"{{/if}} {{#each options.data}}data-{{@key}}="{{this}}"{{/each}}/>

        <div class="url-harvest-checkbox">
          <label>Download snapshot?</label>
          <div class="cap-checkbox">
              <input type="checkbox" id="make-public" class="btn" value="None" checked="false">
              <label for="make-public"></label>
          </div>
        </div>
    </div>
</script>
