/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

@font-face {
  font-family: CAPFont;
  src: url("../fonts/Web-Regular.eot");
  src: url("../fonts/Web-Regular.eot") format("embedded-opentype"),
    url("../fonts/Web-RegularItalic.eot") format("embedded-opentype"),
    url("../fonts/Web-Regular.woff") format("woff"),
    url("../fonts/Web-RegularItalic.woff") format("woff");
}

//@import '~grommet/scss/vanilla/index';

/* Styles */
html,
body {
  height: 100vh;
  width: 100vw;
}

body .grommet {
  font: 14px CAPFont;
}

#app {
  height: 100vh;
  overflow-y: scroll;
}

#app-main {
  height: 100%; /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;
}

#header {
  height: 55.97px;
  flex-shrink: 0;
  display: inline-flex;
}

label {
  margin-bottom: 0.15em;
}

#main-container {
  flex-grow: 1; /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto; /*adds scroll to this container*/
  height: 100%;
  display: flex;
}

.rjsf {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 5px;

  .cap-grommet-input {
    input {
      border: 0 !important;
    }
    input:focus {
      padding: "11px 23px";
      border: 0 !important;
    }
  }
}

.cap-async-select-input {
  > div > div {
    border: 0 !important;
  }
}

.rjsf-condenced {
  height: auto;
}

.menuItem::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s;
}

.menuItem:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.grommet {
  input[type="button"],
  input[type="submit"],
  button:not(.grommetux-button) {
    border: 0;
    padding: "2px 6px";
  }
}
// xsmall
@media only screen and (min-width: 320px) {
  .md-row {
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
  }
  .jst-md-center {
    justify-content: center;
  }
  .width-100 {
    width: 100% !important;
  }
}

// small
@media only screen and (min-width: 580px) {
  .md-column {
    display: flex;
    flex-direction: column !important;
  }
}

// medium
@media only screen and (min-width: 720px) {
  .md-row {
    flex-direction: column !important;
    justify-content: flex-start;
  }
  .jst-md-center {
    justify-content: flex-start;
  }
  .lg-column {
    flex-direction: column !important;
  }
  .lg-row {
    width: auto !important;
  }
}

// large
@media only screen and (min-width: 1135px) {
  .lg-column {
    flex-direction: row !important;
  }
  .lg-row {
    flex-direction: column !important;
  }
}

// xlarge
@media only screen and (min-width: 1330px) {
  .md-column {
    display: flex;
    flex: 1;
    flex-direction: row !important;
  }
}

.grommet [role="tablist"] button:not(.grommetux-button) {
  border: 0 !important;
  padding: 0 !important;
  flex: 0 !important;
  width: 10px !important;
  min-width: 17px !important;

  &:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

#draft-tabs > div {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  .viewer-layout-container {
    background-color: #666;
    border: 0;
  }
  .viewer-layout-toolbar {
    padding: 0;
    height: 40px;
    display: flex;

    .viewer-toolbar {
      // flex: 1;
      // display: flex;
      justify-content: "center";
      background-color: #fff;
    }

    .viewer-toolbar-item {
      // justify-content: "center";
      // align-content: "center";
      // align-items: "center";
      max-width: 60px;
      display: flex;

      input[type="button"],
      input[type="submit"],
      button:not(.grommetux-button) {
        border: 0;
        padding: 2px 6px;
        border-radius: 0;
        min-width: 40px;
      }

      input {
        background-color: #fff;
        border-radius: 0;
        text-align: center;
        padding: 0;
        min-width: 60px;
        max-width: 60px;
        color: #666;
      }

      .viewer-zoom-popover-target-scale {
        color: #666;
      }

      .viewer-icon {
        height: 12px;
        width: 12px;
      }
    }
  }

  > div:nth-child(2) {
    display: flex;
    flex: 1;

    > [role="tabpanel"] {
      width: 100%;
      padding: 0;
    }
  }
}
