.__mainHeader__ ul {
  justify-content: end;
}

.__mainHeader__  .ant-layout-header {
  height: 64px;
}


.__mainHeader__ {
  padding: 0 10px;
}


@media only screen and (max-width: 567px) {

  .__mainHeader__  .ant-layout-header {
    height: fit-content;
  }

}