name: E2E - Code Changes without new installations (UI & Server)
on:
  push:
    branches: uitest
  pull_request:
    branches: [master, next]
    paths:
      - "ui/**"
      - ".github/workflows/ui-test.yml"
      - "cap/**"
jobs:
  UI-Change:
    name: UI
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        name: Checkout to Code

      - name: Run docker-compose stack
        run: docker-compose -f docker-compose.e2e.yml -f docker-compose.e2e-override-server.yml up -d

      - name: Create DB
        run: docker-compose -f docker-compose.e2e.yml -f docker-compose.e2e-override-server.yml run web-api sh scripts/clean-and-init.sh

      - name: Sleep for 180 seconds
        run: sleep 180s
        shell: bash

      - name: Run Cypress
        run: docker-compose -f docker-compose.e2e.yml -f docker-compose.e2e-override-server.yml run cypress cypress run --headless

      - name: Generate test file
        run: docker-compose -f docker-compose.e2e.yml -f docker-compose.e2e-override-server.yml run -u root web-api cap fixtures generate-tokens

      - name: Test request from 'cap-client' container
        run: docker-compose -f docker-compose.e2e.yml -f docker-compose.e2e-override-server.yml run cap-client ./run-tests.sh --check-pytest-e2e
