name: E2E tests
on:
  push:
    branches:
      - master
      - qa
      - production
      - next
  pull_request:
    branches:
      - qa
      - production
      - next
jobs:
  Cypress:
    name: Cypress
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        name: Checkout to Code

      - name: Run docker-compose stack
        run: docker-compose -f docker-compose.e2e.yml up -d

      - name: Create DB
        run: docker-compose -f docker-compose.e2e.yml run web-api sh scripts/clean-and-init.sh

      - name: Update save folder
        run: docker-compose -f docker-compose.e2e.yml run web-api cap files location local var/data --default

      - name: Sleep for 180 seconds
        run: sleep 180s
        shell: bash

      - name: Run Cypress
        run: docker-compose -f docker-compose.e2e.yml run cypress cypress run --headless

      - name: Generate test file
        run: docker-compose -f docker-compose.e2e.yml run -u root web-api cap fixtures generate-tokens

      - name: Test request from 'cap-client' container
        run: docker-compose -f docker-compose.e2e.yml run cap-client ./run-tests.sh --check-pytest-e2e
